<div class="section pt-5 bg-pattern fix">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title text-center aos-init aos-animate mb-0" data-aos="fade-up">
            <h2 class="title">Metodologia Exclusiva De Ensino</h2>
            <span class="sub-title">Especialmente desenvolvida para formação profissional de nossos
                alunos</span>
        </div>
        <!-- Section Title End -->

        <!-- Courses Wrapper Start -->
        <div class="row row-cols-lg-1 row-cols-1 max-mb-n30">

            <div class="row row-cols-xl-6 row-cols-sm-2 row-cols-1 g-0">
                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/1.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Aulas online, ao vivo em português</h3>
                            <div class="desc">
                                <p>Professores e alunos conectados simultaneamente.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/2.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Mais de 700 horas de aula</h3>
                            <div class="desc">
                                <p>Carga horária divida entre teóricas e práticas</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/3.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Acompanhamento individual</h3>
                            <div class="desc">
                                <p>Respeito a cada perfil do aluno e acompanhamento constante de performance.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->

                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/4.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Método Imersivo <i>(hands-on e Peer to Peer)</i></h3>
                            <div class="desc">
                                <p>Solução de problemas e desafios reais.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/5.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Desenvolvimento de soft skills</h3>
                            <div class="desc">
                                <p>Parceria com Instituto Ser+, da presidente Sofia Esteves.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->
                <div class="col aos-init aos-animate" data-aos="fade-up">
                    <a class="icon-box text-center" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="assets/images/bootcamp/6.png" alt=""
                                width="80"></div>
                        <div class="content">
                            <h3 class="title">Aulas de inglês para todos os alunos</h3>
                            <div class="desc">
                                <p>Acesso à <b>Lingopass</b>, plataforma de estudos de inglês online.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Feature Start (Icon Box) -->
            </div>

        </div>
        <!-- Courses Wrapper End -->

    </div>
</div>

<div class="section my-5">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="title">Bootcamps</h2>
            <span class="sub-title">Capacitação profissional gratuita em 12 ou 16 semanas</span>
        </div>
        <!-- Section Title End -->

        <div class="row row-25 banner-content-area">
            <div class="col-lg-3 mb-3">
                <div class="bootcamp-cover h-100 py-lg-5 ps-4 pt-5"
                    data-bg-image="assets/images/courses/marketing-digital.png"
                    style="background-image: url('assets/images/courses/marketing-digital.png');background-position: top !important;">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white">
                            <h2 class="text-primary" style="font-size: 1.5rem;">ANALISTA DE MÍDIA DIGITAL E
                                PERFORMANCE</h2>
                            <div class="pb-3">
                                <span style="font-size: 14px;"><i class="far fa-calendar-alt me-2"></i>Duração:
                                    12 semanas
                                    </span>
                                <span style="font-size: 14px;"><i
                                        class="far fa-calendar-exclamation me-2"></i>Inscrições até 08/08/22
                                </span>
                                <span style="font-size: 14px;"><i class="far fa-user-graduate me-2"></i>Início
                                    em 15/08/22</span>
                            </div>
                            <a [routerLink]="['/martech-academy']"
                                class="btn btn-primary mt-4 mb-5 btn-md text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3">
                <div class="bootcamp-cover h-100 py-lg-5 px-4 pt-5"
                    data-bg-image="assets/images/courses/engenharia-de-dados.png"
                    style="background-image: url('assets/images/courses/engenharia-de-dados.png');
                    background-position: top !important;">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white">
                            <h2 class="text-primary" style="font-size: 1.5rem;">ENGENHARIA DE DADOS</h2>
                            <div class="pb-3">
                                <span style="font-size: 14px;"><i class="far fa-calendar-alt me-2"></i>Duração:
                                    12 semanas
                                    </span>
                                <span style="font-size: 14px;"><i
                                        class="far fa-calendar-exclamation me-2"></i>Inscrições até 13/06/22
                                </span>
                                <span style="font-size: 14px;"><i class="far fa-user-graduate me-2"></i>Início
                                    em 23/06/22</span>
                            </div>
                            <a [routerLink]="['/curso-engenharia-de-dados']"
                                class="btn btn-primary mt-4 mb-5 btn-md text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3">
                <div class="bootcamp-cover h-100 py-lg-5 px-4 pt-5"
                    data-bg-image="assets/images/courses/java-full-stack.png"
                    style="background-image: url('assets/images/courses/java-full-stack.png');
                    background-position: top !important;">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white">
                            <h2 class="text-primary" style="font-size: 1.5rem;">JAVA FULL STACK</h2>
                            <div class="pb-3">
                                <span style="font-size: 14px;"><i class="far fa-calendar-alt me-2"></i>Duração:
                                    16 semanas
                                    </span>
                                <span style="font-size: 14px;"><i
                                        class="far fa-calendar-exclamation me-2"></i>Inscrições até 08/07/22
                                </span>
                                <span style="font-size: 14px;"><i class="far fa-user-graduate me-2"></i>Início
                                    em 18/07/22</span>
                            </div>
                            <a [routerLink]="['/curso-java-full-stack.html']"
                                class="btn btn-primary mt-4 mb-5 btn-md text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3">
                <div class="bootcamp-cover h-100 py-lg-5 px-4 pt-5"
                    data-bg-image="assets/images/courses/salesforce.png"
                    style="background-image: url('assets/images/courses/salesforce.png');
                    background-position: top !important;">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white">
                            <h2 class="text-primary" style="font-size: 1.5rem;">DESENVOLVEDOR SALESFORCE</h2>
                            <div class="pb-3">
                                <span style="font-size: 14px;"><i class="far fa-calendar-alt me-2"></i>Duração:
                                    12 semanas
                                    </span>
                                <span style="font-size: 14px;"><i
                                        class="far fa-calendar-exclamation me-2"></i>Inscrições até 22/06/22
                                </span>
                                <span style="font-size: 14px;"><i class="far fa-user-graduate me-2"></i>Início
                                    em 04/07/22</span>
                            </div>
                            <a [routerLink]="['/curso-desenvolvedor-salesforce']"
                                class="btn btn-primary mt-4 mb-5 btn-md text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>