<body>
    <div class="container">
        <div class="title">
            <h1 >Cadastrar pergunta Técnica</h1>
            </div>
        <div class="content">
            <form [formGroup]="addTesteForm" class="formCreate">
                <div class="inputWrapper">
                    <label class="text" for="question">Questão</label>
                    <textarea rows="3" type="text" class="form-control" [(ngModel)]="teste.question"
                        placeholder="Digite a pergunta para seu candidato" formControlName="question" required
                        id="question">
            </textarea>
                </div>
                <div class="inputWrapper">
                    <label class="text" for="question">Selecione pelo menos uma resposta correta</label>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" [value]="teste.alternatives[0]"
                                [checked]="answersChecked[0]" aria-label="Checkbox for following text input"
                            (change)="onCheckChange($event, 0)">
                        </div>
                        <textarea rows="3" type="text" class="form-control" aria-label="Text input with checkbox"
                            formControlName="alternatives1" [(ngModel)]="teste.alternatives[0]"
                            placeholder="Alternativa A">
                </textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" [value]="teste.alternatives[1]"
                                [checked]="answersChecked[1]" aria-label="Checkbox for following text input"
                            (change)="onCheckChange($event, 1)">
                        </div>
                        <textarea rows="3" type="text" class="form-control" aria-label="Text input with checkbox"
                            formControlName="alternatives2" [(ngModel)]="teste.alternatives[1]"
                            placeholder="Alternativa B">
                </textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" [value]="teste.alternatives[2]"
                                [checked]="answersChecked[2]" aria-label="Checkbox for following text input"
                            (change)="onCheckChange($event,2)">
                        </div>
                        <textarea rows="3" type="text" class="form-control" aria-label="Text input with checkbox"
                            formControlName="alternatives3" [(ngModel)]="teste.alternatives[2]"
                            placeholder="Alternativa C">
                </textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" [value]="teste.alternatives[3]"
                                [checked]="answersChecked[3]" (change)="onCheckChange($event,3)"
                                aria-label="Checkbox for following text input">
                        </div>
                        <textarea rows="3" type="text" class="form-control" aria-label="Text input with checkbox"
                            formControlName="alternatives4" [(ngModel)]="teste.alternatives[3]"
                            placeholder="Alternativa D">
                </textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" [value]="teste.alternatives[4]"
                                [checked]="answersChecked[4]" (change)="onCheckChange($event,4)"
                                aria-label="Checkbox for following text input">
                        </div>
                        <textarea rows="3" type="text" class="form-control" aria-label="Text input with checkbox"
                            formControlName="alternatives5" [(ngModel)]="teste.alternatives[4]"
                            placeholder="Alternativa E">
                </textarea>
                    </div>
                </div>
                <label class="text" for="tipo">Tipo de Bootcamp</label>
                <select id="tipo" class="form-select form-select-lg mb-3" type="text-primary" formControlName="bootcamp">
                    <option value="" disabled>Selecione um tipo</option>
                    <option *ngFor="let tipo of tiposBootcamp" [ngValue]="tipo.tipo">
                        {{ tipo.tipo }}
                    </option>
                </select>
                <div class="submitWrapper">
                    <button type="submit" class="btn btn-primary submit" (click)="agregar()" value="Agregar"
                        [disabled]="addTesteForm.invalid || formArray.length == 0">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</body>
