<div class="modal-header">
    <h2 class="modal-title tituloForm text-primary">Editar Processo</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="formCreate" [formGroup]="this.editProcessForm">
        <div class="inputWrapper">
            <label class="text-white" for="turma">Turma</label>
            <input id="turma" [(ngModel)]="processo.turma" placeholder="Digite o nome da Turma" formControlName="turma"
                type="text" class="input-field col s12" />
            <small class="text-danger" *ngIf="turma?.touched && turma?.invalid">
                <span *ngIf="turma?.hasError('required')">A turma é obrigatória</span>
            </small>
        </div>

        <div class="inputWrapper">
            <label class="text-white" for="tipo">Tipo de Bootcamp</label>
            <select id="tipo" class="form-select" formControlName="tipo">
                <option value="" disabled>Selecione um tipo</option>
                <option *ngFor="let tipo of tipos" [ngValue]="tipo">
                    {{ tipo }}
                </option>
            </select>
            <small class="text-danger" *ngIf="tipo?.touched && tipo?.invalid">
                <span *ngIf="tipo?.hasError('required')">O tipo do Bootcamp é obrigatório</span>
            </small>
        </div>

        <div class="inputWrapper">
            <label class="text-white" for="inicioInscricoes">Início das Inscrições</label>
            <input id="inicioInscricoes" [(ngModel)]="processo.inicioInscricoes"
                placeholder="Data de início das Inscrições" formControlName="inicioInscricoes" type="date"
                class="input-field col s12" />
            <small class="text-danger" *ngIf="inicioInscricoes?.touched && inicioInscricoes?.invalid">
                <span *ngIf="inicioInscricoes?.hasError('required')">A data de término é obrigatória</span>
            </small>
        </div>

        <div class="inputWrapper">
            <label class="text-white" for="terminoInscricoes">Término das Inscrições</label>
            <input id="terminoInscricoes" [(ngModel)]="processo.terminoInscricoes"
                placeholder="Data de término das Inscrições" formControlName="terminoInscricoes" type="date"
                class="input-field col s12" />
            <small class="text-danger" *ngIf="terminoInscricoes?.touched && terminoInscricoes?.invalid">
                <span *ngIf="terminoInscricoes?.hasError('required')">A data de término das inscrições é obrigatória</span>
            </small>
        </div>

        <div class="inputWrapper">
            <label class="text-white" for="inicioBootcamp">Início do Bootcamp</label>
            <input id="inicioBootcamp" [(ngModel)]="processo.inicioBootcamp" placeholder="Data de início do Bootcamp"
                formControlName="inicioBootcamp" type="date" class="input-field col s12" />
            <small class="text-danger" *ngIf="inicioBootcamp?.touched && inicioBootcamp?.invalid">
                <span *ngIf="inicioBootcamp?.hasError('required')">A data de início é obrigatória</span>
            </small>
        </div>

        <div class="inputWrapper">
            <label class="text-white d-block" for="status">Status</label>
            <div class="d-flex justify-content-between">
                <label class="labelRadio">
                    <input type="radio" value="A Iniciar" formControlName="status" >
                    <span> A Iniciar</span>
                </label>
                <label class="labelRadio">
                    <input type="radio" value="Aberto" formControlName="status">
                    <span> Aberto</span>
                </label>
                <label class="labelRadio">
                    <input type="radio" value="Fechado" formControlName="status">
                    <span> Fechado</span>
                </label>
            </div>
        </div>

        <div class="submitWrapper">
            <button class="btn btn-primary submit" (click)="onSubmit(processo)" [disabled]="editProcessForm.invalid">
                Editar Processo
            </button>
        </div>
    </form>
</div>
