.graph {
  border: 2px solid #0F637A;
  border-radius: 15px ;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  width: 94%;
  text-align: left;
}

.form-check {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 21px;
  font-size: large;
  display: inline-block;
}


