/* .row {
  width: 50%;
  height: 60%
}

.col {
  width: 50%;
  height: 60%
} */

/* .col-sm {
  width: 70%;
  height: 80%
} */

.container{
  width: 1200px;
  margin: 0 auto;
  height: 350px;
  padding: 10px;
  }
