
<div class="section py-5">
    <div class="page-title">
        <div class="container">
            <h1 class="title">Desenvolvedor Salesforce</h1>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row max-mb-50">

            <div class="col-lg-7 col-12 order-lg-1 max-mb-50">
                <div class="course-details-wrapper">
                    <div class="course-nav-tab">
                        <ul class="nav">
                            <li><a class="active" data-bs-toggle="tab" href="#overview">Visão Geral</a></li>
                            <li><a data-bs-toggle="tab" href="#curriculum">Currículo</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane fade show active">
                            <div class="course-overview">
                                <h1 class="title">Detalhes do curso</h1>

                                <p>Bootcamps Digitais são cursos online e ao vivo, com o objetivo de capacitar
                                    os alunos, criando a oportunidade de iniciar ou reciclar uma nova profissão
                                    no mercado de tecnologia. Este bootcamp é ideal para pessoas que desejam
                                    entrar no mundo de CRM (gestão de relacionamento com o cliente), utilizando
                                    a plataforma Salesforce para automatizar a gestão das áreas de Vendas e
                                    Atendimento ao Cliente.</p>

                                <p>Nossa metodologia tem uma abordagem que vai da formação ao emprego,
                                    capacitando os alunos na parte técnica, nas habilidades interpessoais e no
                                    direcionamento de carreira com ferramentas digitais mais usadas em grandes
                                    empresas globalmente</p>


                                <h3 class="title">O que você irá aprender</h3>
                                <p>O profissional em Salesforce será capaz de combinar conhecimentos técnicos e
                                    funcionais para automatizar processos de negócios através da implementação
                                    das nuvens de Vendas e Atendimento ao Cliente. Atividades como gerenciar
                                    clientes, oportunidades, produtos, cotações e contratos são fundamentais
                                    para as organizações e estão no centro da formação deste profissional. Outra
                                    vertente, mais técnica, abordará também como desenvolver customizações e
                                    integrar soluções do ecossistema Salesforce para atender necessidades de
                                    negócio específicas de cada organização.</p>

                            </div>
                        </div>

                        <div id="curriculum" class="tab-pane fade">
                            <div class="course-curriculum">
                                <ul class="curriculum-sections">
                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 1: Introdução a CRM</h5>
                                                <p class="section-desc">General introduction to customer-centric
                                                    strategies</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Contatos, clientes e
                                                        relacionamento</span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Contas e Oportunidades</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Lifetime Value</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Análise de Personas</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 2: Plataforma Salesforce</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Administrador</span>
                                                </a>
                                                <ul>
                                                    <li>Arquitetura Salesforce</li>
                                                    <li>Objetos padrão e personalizados</li>
                                                    <li>Campos simples, com formulas, com if, com cálculos e
                                                        condições</li>
                                                    <li>Web-to-Lead</li>
                                                    <li>Paginas e layouts básicos</li>
                                                    <li>Tipo de registros e validações</li>
                                                    <li>Flow</li>
                                                </ul>

                                                <a class="section-item-link">
                                                    <span class="item-name">Segurança</span>
                                                </a>
                                                <ul>
                                                    <li>Orgs e licenças</li>
                                                    <li>Gestão de acesso</li>
                                                    <li>Perfil de usuários</li>
                                                </ul>
                                                <br>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 3: Tecnologias WEB</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">HTML</span>
                                                </a>
                                                <ul>
                                                    <li>Estrutura HTML, head e body</li>
                                                    <li>Tags, elementos e atributos</li>
                                                    <li>Textos, imagens, tablemas e formulários</li>

                                                </ul>

                                                <a class="section-item-link">
                                                    <span class="item-name">CSS</span>
                                                </a>
                                                <ul>
                                                    <li>Linguagem</li>
                                                    <li>Estilização</li>
                                                    <li>Layouts</li>
                                                </ul>

                                                <a class="section-item-link">
                                                    <span class="item-name">Javascript</span>
                                                </a>
                                                <ul>
                                                    <li>Variáveis</li>
                                                    <li>Objetos e Arrays</li>
                                                    <li>Operadores e Condicionais</li>
                                                </ul>
                                                <br>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 4: Componentes Salesforce</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">VisualForce</span>
                                                </a>
                                                <ul>
                                                    <li>Criar e editar páginas</li>
                                                    <li>Controladores padrão</li>
                                                    <li>Formulas e variáveis</li>

                                                </ul>

                                                <a class="section-item-link">
                                                    <span class="item-name">Aura</span>
                                                </a>
                                                <ul>
                                                    <li>Criar componentes</li>
                                                    <li>Atributos e Expressões</li>
                                                    <li>Controladores</li>
                                                    <li>Formulários</li>
                                                </ul>

                                                <a class="section-item-link">
                                                    <span class="item-name">LWC</span>
                                                </a>
                                                <ul>
                                                    <li>Componentes LWC</li>
                                                    <li>LWC & CSS</li>
                                                    <li>LWC & Javascript</li>
                                                    <li>CRUD com LWC</li>
                                                </ul>
                                                <br>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Projeto Final</h5>
                                                <p class="section-desc">Trabalho em grupo onde os alunos são
                                                    dividos em squads de trabalho</p>

                                            </div>
                                        </div>
                                        <div class="learn-press-message success ml-15 mr-15">
                                            <i class="fa"></i>Desenvolvimento de um projeto final, baseado em um
                                            desafio estabelecido pelos nossos parceiros contratantes, que tem
                                            por objetivo aplicar todos os ensinamentos do curso para resolver um
                                            problema de negócio real.
                                        </div>
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 order-lg-2 max-mb-50" id="sticky-sidebar">
                <div class="sidebar-widget-wrapper pr-0">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-content">
                            <div class="sidebar-entry-course-info">
                                <div class="course-price">
                                    <span class="meta-label">
                                        <i class="meta-icon far fa-money-bill-wave"></i>
                                        Custo
                                    </span>
                                    <span class="meta-value">
                                        <span class="price">Gratuito</span>
                                    </span>
                                </div>
                                <div class="course-meta">

                                    <div class="course-time">
                                        <span class="meta-label">
                                            <i class="far fa-calendar"></i> Prazo de Inscrição</span>
                                        <span class="meta-value">até 22/06/22</span>
                                    </div>

                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-rocket"></i> Início do Curso
                                        </span>
                                        <span class="meta-value">04/07/22</span>
                                    </div>

                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-calendar-alt"></i> Duração
                                        </span>
                                        <span class="meta-value">12 semanas</span>
                                    </div>

                                    <div class="course-lectures">
                                        <span class="meta-label">
                                            <i class="far fa-clock"></i>
                                            Horário de Aula
                                        </span>
                                        <span class="meta-value">8h às 18h</span>
                                    </div>
                                    
                                    <div class="course-instructor">
                                        <span class="meta-label">
                                            <i class="far fa-chalkboard-teacher"></i>
                                            Formato de Aula
                                        </span>
                                        <span class="meta-value">Online e ao vivo </span>
                                    </div>

                                    <div class="course-language">
                                        <span class="meta-label">
                                            <i class="far fa-language"></i>
                                            Idioma
                                        </span>
                                        <span class="meta-value">Português</span>
                                    </div>
                                </div>
                                <div class="lp-course-buttons">
                                    <a [routerLink]="['/inscricao-desenvolvedor-salesforce']"
                                        class="btn btn-primary btn-width-100">QUERO ME INSCREVER AGORA<i
                                            class="far fa-md fa-long-arrow-alt-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>
<!-- Course Details Section End -->