.botaoAdd {
    background-color: #ffd900;
    color: black;
    border: none;
    position: fixed;
    bottom: 130px;
}

.botaoAdd:hover {
    background-color: #dcbb00;
}

.spinner-border {
  margin-top: 10%;
}

th {
  cursor: pointer;
}

.iconeList {
  cursor: pointer;
}
