.hover-background:hover {
  border: 1px solid;
  cursor: pointer;
}

th {
  text-align: center;
}

.desabledColor td {
  color: crimson;
}

.enabledColor {
  color: #000;
}

.powerOn {
  color: green;
}