<div class="section my-5">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title text-center" data-aos="fade-up">
            <h2 class="title fz-48">Desigualdade no Brasil</h2>
            <span class="sub-title mx-5">Nascemos de um grupo de executivos de tecnologia, inconformados, fomos
                buscar os melhores benchmarks do mundo, e hoje somos a ponte entre o desemprego e a
                oportunidade, através da capacitação tecnológica.</span>
        </div>
        <div class="row row-25 banner-content-area">
            <div class="col-lg-6 mb-3">
                <div class="bootcamp-home h-100" data-bg-image="assets/images/empresas/desemprego.png"
                    style="background-image: url(&quot;assets/images/empresas/desemprego.png&quot;);">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white ms-4 my-lg-5 mt-sm-4">
                            <h2 class="text-primary mt-3">Desemprego</h2>
                            <p>Mais de 13 milhões de pessoas desempregadas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="bootcamp-home h-100" data-bg-image="assets/images/empresas/oportunidades.png"
                    style="background-image: url(&quot;assets/images/empresas/oportunidades.png&quot;);">
                    <div class="col-lg-12 col-md-6">
                        <div class="text-white ms-4 my-lg-5 mt-sm-4">
                            <h2 class="text mt-3" style="color: #296483;">Oportunidade</h2>
                            <p>Mais de 700 mil vagas de Tech abertas</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Section Title End -->


    <div class="section py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mb-sm-50 mb-xs-50" style="max-width: 530px">
                        <h2 class="title">Oportunidades</h2>
                        <p>Quer ser nosso parceiro? Veja como participar:</p>
                        <div class="row row-cols-lg-1 row-cols-1 align-items-center mt-2">
                            <div class="col">
                                <!-- Feature Wrapper Start -->
                                <div class="row row-cols-xl-2 row-cols-sm-2 row-cols-1 mt-4">

                                    <!-- Feature Start (Icon Box) -->
                                    <div class="col aos-init aos-animate" data-aos="fade-up">
                                        <div class="icon-box icon-box-left text-left" data-vivus-hover="">
                                            <div class="icon">
                                                <i class="fal fa-chalkboard-teacher fa-3x"
                                                    style="color: #0f637a"></i>
                                            </div>
                                            <div class="content">
                                                <h3 class="title fz-20">Bootcamps Abertos</h3>
                                                <div class="desc">
                                                    <p>Para contratação de, no mínimo, 1 aluno após
                                                        sua
                                                        formação.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Feature Start (Icon Box) -->

                                    <!-- Feature Start (Icon Box) -->
                                    <div class="col ios-init aos-animate aos-init" data-aos="fade-up">
                                        <div class="icon-box icon-box-left text-left" data-vivus-hover="">
                                            <div class="icon">
                                                <i class="fal fa-users-class fa-3x" style="color: #0f637a"></i>
                                            </div>
                                            <div class="content">
                                                <h3 class="title fz-20">Bootcamps Exclusivos</h3>
                                                <div class="desc">
                                                    <p>Para contratação de, no mínimo, 35 alunos
                                                        após suas
                                                        formações.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col max-mb-30 aos-init aos-animate" data-aos="fade-up">
                        <div class="intro1-course">

                            <!-- Course Start -->
                            <div class="course-2" style="box-shadow:0 10px 25px rgb(0 0 0 / 12%)">
                                <div class="thumbnail">
                                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:6923323767330889728/"
                                        class="image"><img src="assets/images/courses/370/course-2.jpg"
                                            alt="Course Image"></a>
                                </div>
                                <div class="info">
                                    <span class="date">Parceiro em Destaque</span>
                                    <h3 class="title"><a
                                            href="https://www.linkedin.com/feed/update/urn:li:activity:6923323767330889728/">Deloitte
                                            Digital forma 40 alunos em Salesfoce</a></h3>
                                    <div class="desc">
                                        <p>Conheça o programa de desenvolvimento realizado junto com a
                                            SoulCode</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Course End -->

                            <!-- Animation Shape Start -->
                            <!-- <div class="intro1-scene scene"
                                style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <span data-depth="4"
                                    style="transform: translate3d(-53.6px, 5.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img
                                        src="assets/images/shape-animation/shape-1.png" alt=""></span>
                            </div> -->
                            <!-- Animation Shape End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-video-section section py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 order-last">
                    <!-- About Me Video Wrapper Start -->
                    <div class="about-me-video-wrapper about-us-one-video pr-55 pr-sm-0 pr-xs-0">

                        <!-- About Me Video Start -->
                        <a href="https://www.youtube.com/watch?v=5LMByRRqVEg" class="about-me-video video-popup"
                            data-aos="fade-up">
                            <img class="image" src="assets/images/about/tntesg.png" alt="">
                            <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                        </a>
                        <!-- About Me Video End -->



                    </div>
                    <!-- About Me Video Wrapper End -->
                </div>
                <div class="col-lg-4">
                    <div class="about-content mt-sm-50 mt-xs-50">
                        <h2 class="title">Parcerias Institucionais</h2>
                        <p>Nós fazemos a parte Social do ESG para você</p>
                        <div class="col-lg-12">

                            <div class="success-faq-area">

                                <div class="single-success-faq py-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="success-faq-heading mx-0">
                                                <div class="icon">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h4>Programa estruturado de Impacto Social,
                                                        Diversidade e
                                                        Empregabilidade.

                                                    </h4>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="success-faq-heading mx-0">
                                                <div class="icon">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h4>Modelo de governança e KPIs.
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="success-faq-heading mx-0">
                                                <div class="icon">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h4>Estudo de SRO
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>