<!-- Page Title Section Start -->
<div class="page-title-section section">
    <div class="page-title">
        <div class="container">
            <h1 class="title">FAQ - Perguntas Frequentes</h1>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Purchase Guide Section Start -->
<div class="section section-padding-bottom">
    <div class="container">
        <div class="row max-mb-n50">

            <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                <div class="mx-accordion max-mb-n30" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    O que é a SoulCode?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">Uma Edtech brasileira, a SoulCode Academy é uma escola de
                                inclusão digital, de metodologia ágil, com a missão de gerar impacto social,
                                através da capacitação tecnológica, com foco em diversidade, equidade e
                                empregabilidade.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Como a SoulCode faz a capacitação tecnológica?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">A capacitação ocorre através do fornecimento de uma bolsa
                                100% integral, gratuita, no valor de R$ 25.000,00.
                                No curso, serão promovidas as habilidades exigidas no mercado de trabalho: hard
                                skills (conhecimento teórico), soft skills (habilidades comportamentais) e
                                inglês.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    O que preciso fazer para manter a bolsa de estudos?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">O primeiro passo que o(a) aluno(a) precisa ter em mente é a
                                manutenção da sua bolsa de estudos, onde as condições estão previstas no
                                contrato da SoulCode
                                com os Alunos.
                                Isso significa que há obrigações que o(a) aluno(a) precisa cumprir.

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    O que é um contrato?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">Basicamente, contrato é um documento que formaliza um acordo
                                (“um combinado”) entre pessoas, pessoas e empresas etc., estipulando deveres e
                                obrigações.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    E quais são as obrigações do contrato entre o Aluno e a SoulCode?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">O CONTRATO lista uma série de obrigações que o aluno deve
                                realizar para manter a sua bolsa de estudos, sendo algumas delas:
                                <ul>
                                    <li>Manter um bom comportamento entre seus colegas de curso, professores e
                                        demais funcionários da SoulCode;</li>
                                    <li>Ter frequência mínima nas aulas, mantendo uma frequência de 90%;</li>
                                    <li>Manter dedicação exclusiva com a SoulCode (08 às 18hs), podendo haver
                                        outras
                                        atividades fora deste horário;</li>
                                    <li>Manter a dedicação exclusiva com a SoulCode, durante o curso e mais 3
                                        meses
                                        após a conclusão do mesmo (“prazo de exclusividade”); </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Por que a SoulCode tem um prazo de exclusividade?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">O modelo de negócios da SoulCode tem como essência a
                                capacitação intelectual do(a) aluno(a), para que este possa concorrer às vagas,
                                quando disponíveis, com as empresas parceiras da SoulCode.
                                <br>Dessa forma, neste período, auxiliamos na empregabilidade do(a) aluno(a).


                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    E como se dá o auxílio da SoulCode para o Aluno?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>Através da capacitação intelectual; </li>
                                    <li>Aprimoramento das soft (habilidades comportamentais) e hard (habilidades
                                        técnicas); </li>
                                    <li>Mentoria com executivos; </li>
                                    <li>Curso de inglês;</li>
                                    <li>Parceria com empresas;</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseNine" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Moro no exterior. Posso fazer os cursos?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">
                                Para a participação em nossos bootcamps é obrigatório que o(a) aluno(a) tenha
                                residência e more no Brasil. Caso você não more no Brasil, indicamos os cursos
                                gravados da SoulCode Online.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTen" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Não sou Brasileiro. Posso fazer os bootcamps?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">
                                Desde que o(a) aluno(a) tenha autorização legal para morar e trabalhar no
                                Brasil, sim. Nesse caso, no momento da matrícula, solicitaremos os documentos
                                comprobatórios aos alunos(as).
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <a href="#" class="acc-btn border-0 collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEleven" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    E se eu não gostar do curso? Eu posso desistir?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                            data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>Oferecemos 7 dias corridos, contados a partir da aula inaugural, para que o
                                    aluno
                                    possa verificar se o curso está alinhado com as necessidades dele.</p>
                                <p>Após esse período, caso haja a quebra do contrato, seja por qualquer motivo,
                                    abordados no contrato, a SoulCode poderá cancelar a bolsa de estudos
                                    concedida.
                                </p>
                                <p>Isso significa, que caso o(a) aluno(a) tenha a sua bolsa de estudos
                                    cancelada,
                                    por ser um curso que tem um preço, o aluno(a) poderá ter que restituir o
                                    valor
                                    da bolsa concedida à SoulCode, ou seja, o valor de R$ 25.000,00 (vinte e
                                    cinco
                                    mil reais);</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
                <div class="sidebar-widget-wrapper">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-content">
                            <ul class="sidebar-widget-menu">
                                <li><a class="active" href="faq">FAQ - Perguntas Frequentes</a></li>
                                <li><a href="politica-privacidade">Politica de Privacidade</a></li>
                                <li><a href="termos-de-uso">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Purchase Guide Section End -->