        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">Imprensa</h1>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Blog Section Start -->
        <div class="section section-padding-bottom">
            <div class="container">

                <!-- Blog Wrapper Start -->
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">

                    <!-- Blog Start -->
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/"
                                    class="image"><img src="assets/images/noticias/mundorh.webp"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/"
                                    class="category">MUNDO RH</a>
                                <h3 class="title"><a
                                        href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/">
                                        Apagão digital e escassez de profissionais de TI de um lado e oportunidades de emprego de outro. Como resolver?
                                    </a>
                                </h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://exame.com/tecnologia/com-curso-gratuito-soul-code-academy-e-nova-escola-de-programacao-brasileira/"
                                    class="image"><img src="assets/images/noticias/examenotica1.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://exame.com/tecnologia/com-curso-gratuito-soul-code-academy-e-nova-escola-de-programacao-brasileira/"
                                    class="category">EXAME</a>
                                <h3 class="title"><a
                                        href="https://exame.com/tecnologia/com-curso-gratuito-soul-code-academy-e-nova-escola-de-programacao-brasileira/">Com
                                        curso gratuito, Soul Code Academy é nova escola de programação brasileira</a>
                                </h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://exame.com/carreira/soulcode-academy-oferece-curso-de-programacao-gratuito-para-mulheres/"
                                    class="image"><img src="assets/images/noticias/examenotica2.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://exame.com/carreira/soulcode-academy-oferece-curso-de-programacao-gratuito-para-mulheres/"
                                    class="category">EXAME</a>
                                <h3 class="title"><a
                                        href="https://exame.com/carreira/soulcode-academy-oferece-curso-de-programacao-gratuito-para-mulheres/">SoulCode
                                        Academy oferece curso de programação gratuito para mulheres</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.linkedin.com/news/story/startup-cria-curso-de-programa%C3%A7%C3%A3o-gratuito-s%C3%B3-para-mulheres-5014884/?originalSubdomain=br"
                                    class="image"><img src="assets/images/noticias/examenotica3.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.linkedin.com/news/story/startup-cria-curso-de-programa%C3%A7%C3%A3o-gratuito-s%C3%B3-para-mulheres-5014884/?originalSubdomain=br"
                                    class="category">Linkedin

                                </a>
                                <h3 class="title"><a
                                        href="https://www.linkedin.com/news/story/startup-cria-curso-de-programa%C3%A7%C3%A3o-gratuito-s%C3%B3-para-mulheres-5014884/?originalSubdomain=br">Startup
                                        cria curso de programação gratuito só para mulheres</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.publicitarioscriativos.com/tnt-patrocina-curso-gratuito-de-capacitacao-em-programacao/"
                                    class="image"><img src="assets/images/noticias/examenotica4.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.publicitarioscriativos.com/tnt-patrocina-curso-gratuito-de-capacitacao-em-programacao/"
                                    class="category">Publicitários
                                </a>
                                <h3 class="title"><a
                                        href="https://www.publicitarioscriativos.com/tnt-patrocina-curso-gratuito-de-capacitacao-em-programacao/">TNT
                                        patrocina curso gratuito de capacitação em programação</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.baguete.com.br/noticias/06/01/2021/soul-code-novo-player-em-edtech#:~:text=Startup%20tem%20um%20time%20respeit%C3%A1vel%20de%20apoiadores%20no%20setor%20corporativo%20de%20TI.&text=O%20primeiro%20curso%20oferecido%20pela,projeto%20final%20em%20quatro%20semanas."
                                    class="image"><img src="assets/images/noticias/examenotica5.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.baguete.com.br/noticias/06/01/2021/soul-code-novo-player-em-edtech#:~:text=Startup%20tem%20um%20time%20respeit%C3%A1vel%20de%20apoiadores%20no%20setor%20corporativo%20de%20TI.&text=O%20primeiro%20curso%20oferecido%20pela,projeto%20final%20em%20quatro%20semanas."
                                    class="category">Baguete
                                </a>
                                <h3 class="title"><a
                                        href="https://www.baguete.com.br/noticias/06/01/2021/soul-code-novo-player-em-edtech#:~:text=Startup%20tem%20um%20time%20respeit%C3%A1vel%20de%20apoiadores%20no%20setor%20corporativo%20de%20TI.&text=O%20primeiro%20curso%20oferecido%20pela,projeto%20final%20em%20quatro%20semanas.">Soul
                                        Code: novo player em EdTech</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://itforum.com.br/noticias/soulcode-academy-e-google-firmam-parceira-de-capacitacao-em-nuvem/"
                                    class="image"><img src="assets/images/noticias/examenotica6.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://itforum.com.br/noticias/soulcode-academy-e-google-firmam-parceira-de-capacitacao-em-nuvem/
                                " class="category">IT Forum
                                </a>
                                <h3 class="title"><a href="https://itforum.com.br/noticias/soulcode-academy-e-google-firmam-parceira-de-capacitacao-em-nuvem/
                                    ">SoulCode Academy e Google firmam parceira de capacitação em nuvem</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://olhardigital.com.br/2021/05/04/pro/soulcode-academy-fecha-parceria-com-google-cloud-e-oferece-curso-online-gratuito/"
                                    class="image"><img src="assets/images/noticias/examenotica7.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://olhardigital.com.br/2021/05/04/pro/soulcode-academy-fecha-parceria-com-google-cloud-e-oferece-curso-online-gratuito/"
                                    class="category">Olhar Digital
                                </a>
                                <h3 class="title"><a
                                        href="https://olhardigital.com.br/2021/05/04/pro/soulcode-academy-fecha-parceria-com-google-cloud-e-oferece-curso-online-gratuito/">SoulCode
                                        Academy fecha parceria com Google Cloud e oferece curso online gratuito</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://olhardigital.com.br/2021/06/17/pro/soulcode-academy-abre-vagas-para-curso-gratis-para-desenvolvedor-full-stack/"
                                    class="image"><img src="assets/images/noticias/examenotica9.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://olhardigital.com.br/2021/06/17/pro/soulcode-academy-abre-vagas-para-curso-gratis-para-desenvolvedor-full-stack/"
                                    class="category">Olhar Digital
                                </a>
                                <h3 class="title"><a
                                        href="https://olhardigital.com.br/2021/06/17/pro/soulcode-academy-abre-vagas-para-curso-gratis-para-desenvolvedor-full-stack/">SoulCode
                                        Academy abre vagas para curso grátis para desenvolvedor full stack</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://canaltech.com.br/cursos/edtech-brasileira-tem-vagas-para-curso-gratuito-de-desenvolvedor-188103  "
                                    class="image"><img src="assets/images/noticias/examenotica10.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://canaltech.com.br/cursos/edtech-brasileira-tem-vagas-para-curso-gratuito-de-desenvolvedor-188103"
                                    class="category">CanalTech

                                </a>
                                <h3 class="title"><a
                                        href="https://canaltech.com.br/cursos/edtech-brasileira-tem-vagas-para-curso-gratuito-de-desenvolvedor-188103">Edtech
                                        brasileira tem vagas para curso gratuito de desenvolvedor</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://esportes.yahoo.com/noticias/edtech-brasileira-tem-vagas-para-020000555.html"
                                    class="image"><img src="assets/images/noticias/examenotica11.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://esportes.yahoo.com/noticias/edtech-brasileira-tem-vagas-para-020000555.html"
                                    class="category">Esportes Yahoo!
                                </a>
                                <h3 class="title"><a
                                        href="https://esportes.yahoo.com/noticias/edtech-brasileira-tem-vagas-para-020000555.html">Edtech
                                        brasileira tem vagas para curso gratuito de desenvolvedor</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://midiamax.uol.com.br/cotidiano/2021/escola-abre-50-vagas-para-curso-gratuito-para-formar-e-empregar-novos-desenvolvedores"
                                    class="image"><img src="assets/images/noticias/examenotica13.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://midiamax.uol.com.br/cotidiano/2021/escola-abre-50-vagas-para-curso-gratuito-para-formar-e-empregar-novos-desenvolvedores"
                                    class="category">Midia Max
                                </a>
                                <h3 class="title"><a
                                        href="https://midiamax.uol.com.br/cotidiano/2021/escola-abre-50-vagas-para-curso-gratuito-para-formar-e-empregar-novos-desenvolvedores">Escola
                                        abre 50 vagas para curso gratuito para formar e empregar novos
                                        desenvolvedores</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.portalsplishsplash.com/2021/06/soulcode-academy-promove-curso-gratuito.html"
                                    class="image"><img src="assets/images/noticias/examenotica14.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.portalsplishsplash.com/2021/06/soulcode-academy-promove-curso-gratuito.html"
                                    class="category">Splish Splash
                                </a>
                                <h3 class="title"><a
                                        href="https://www.portalsplishsplash.com/2021/06/soulcode-academy-promove-curso-gratuito.html">SoulCode
                                        Academy promove curso gratuito on-line para Desenvolvedor Web</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://tecnolera.com/curso-gratuito-forma-desenvolvedor-web/"
                                    class="image"><img src="assets/images/noticias/examenotica15.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://tecnolera.com/curso-gratuito-forma-desenvolvedor-web/"
                                    class="category">Tecnolera
                                </a>
                                <h3 class="title"><a
                                        href="https://tecnolera.com/curso-gratuito-forma-desenvolvedor-web/">Curso
                                        gratuito forma Desenvolvedor Web</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.dgabc.com.br/Noticia/3732303/online-e-ao-vivo-curso-gratuito-forma-desenvolvedor-web"
                                    class="image"><img src="assets/images/noticias/examenotica18.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.dgabc.com.br/Noticia/3732303/online-e-ao-vivo-curso-gratuito-forma-desenvolvedor-web"
                                    class="category">Diario do Grande ABC
                                </a>
                                <h3 class="title"><a
                                        href="https://www.dgabc.com.br/Noticia/3732303/online-e-ao-vivo-curso-gratuito-forma-desenvolvedor-web">Online
                                        e ao vivo: curso gratuito forma desenvolvedor webs</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://acessowi-fi.com/empresa-seleciona-para-curso-gratuito-de-desenvolvedor-web/"
                                    class="image"><img src="assets/images/noticias/examenotica19.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://acessowi-fi.com/empresa-seleciona-para-curso-gratuito-de-desenvolvedor-web/"
                                    class="category">Acesso Wi-fi
                                </a>
                                <h3 class="title"><a
                                        href="https://acessowi-fi.com/empresa-seleciona-para-curso-gratuito-de-desenvolvedor-web/">Empresa
                                        seleciona para curso gratuito de desenvolvedor web</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://olhardigital.com.br/2021/07/21/pro/soulcode-academy-abre-50-vagas-para-curso-gratuito-de-programacao-python/
                                " class="image"><img src="assets/images/noticias/examenotica20.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://olhardigital.com.br/2021/07/21/pro/soulcode-academy-abre-50-vagas-para-curso-gratuito-de-programacao-python/
                                " class="category">Olhar Digital

                                </a>
                                <h3 class="title"><a href="https://olhardigital.com.br/2021/07/21/pro/soulcode-academy-abre-50-vagas-para-curso-gratuito-de-programacao-python/
                                    ">Programação Python: 50 vagas de curso gratuito. Aproveite!</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.channel360.com.br/soulcode-academy-curso-engenharia-dados/"
                                    class="image"><img src="assets/images/noticias/examenotica15.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.channel360.com.br/soulcode-academy-curso-engenharia-dados/"
                                    class="category">Channel 360º
                                </a>
                                <h3 class="title"><a
                                        href="https://www.channel360.com.br/soulcode-academy-curso-engenharia-dados/">SoulCode
                                        Academy lança curso gratuito de engenharia de dados</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>s
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.convergenciadigital.com.br/Carreira/Quer-aprender-Python-de-graca%3F-A-hora-e-agora-57613.html#.YRE-ZIhKjIW"
                                    class="image"><img src="assets/images/noticias/examenotica22.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.convergenciadigital.com.br/Carreira/Quer-aprender-Python-de-graca%3F-A-hora-e-agora-57613.html#.YRE-ZIhKjIW"
                                    class="category">Convergência Digital
                                </a>
                                <h3 class="title"><a
                                        href="https://www.convergenciadigital.com.br/Carreira/Quer-aprender-Python-de-graca%3F-A-hora-e-agora-57613.html#.YRE-ZIhKjIW">Quer
                                        aprender Python de graça? A hora é agora</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://computerworld.com.br/carreira/soulcode-academy-abre-inscricoes-para-curso-gratuito-de-programacao/"
                                    class="image"><img src="assets/images/noticias/examenotica23.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://computerworld.com.br/carreira/soulcode-academy-abre-inscricoes-para-curso-gratuito-de-programacao/"
                                    class="category">ComputerWorld
                                </a>
                                <h3 class="title"><a
                                        href="https://computerworld.com.br/carreira/soulcode-academy-abre-inscricoes-para-curso-gratuito-de-programacao/">SoulCode
                                        Academy abre inscrições para curso gratuito de programação</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://itforum.com.br/noticias/grupo-petropolis-e-soulcode-academy-promovem-1o-hackathon-de-esg-do-brasil/"
                                    class="image"><img src="assets/images/noticias/examenotica24.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://itforum.com.br/noticias/grupo-petropolis-e-soulcode-academy-promovem-1o-hackathon-de-esg-do-brasil/"
                                    class="category">ComputerWorld
                                    e IT Fórum
                                </a>
                                <h3 class="title"><a
                                        href="https://itforum.com.br/noticias/grupo-petropolis-e-soulcode-academy-promovem-1o-hackathon-de-esg-do-brasil/">Grupo
                                        Petrópolis e SoulCode Academy promovem 1º Hackathon de ESG do Brasil</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://economia.estadao.com.br/noticias/sua-carreira,programas-oferecem-capacitacao-gratuita-e-online-em-tecnologia,70003962391"
                                    class="image"><img src="assets/images/noticias/examenotica20.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://economia.estadao.com.br/noticias/sua-carreira,programas-oferecem-capacitacao-gratuita-e-online-em-tecnologia,70003962391"
                                    class="category">O Estado de S.Paulo
                                </a>
                                <h3 class="title"><a
                                        href="https://economia.estadao.com.br/noticias/sua-carreira,programas-oferecem-capacitacao-gratuita-e-online-em-tecnologia,70003962391">O
                                        material jornalístico produzido pelo Estadão é protegido por lei. As regras têm
                                        como objetivo proteger o investimento feito pelo Estadão na qualidade constante
                                        de seu jornalismo.</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://www.msn.com/pt-br/noticias/educacao/programas-oferecem-capacita%C3%A7%C3%A3o-gratuita-e-online-em-tecnologia/ar-AATeZcY?li=BBwanrb"
                                    class="image"><img src="assets/images/noticias/examenotica12.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://www.msn.com/pt-br/noticias/educacao/programas-oferecem-capacita%C3%A7%C3%A3o-gratuita-e-online-em-tecnologia/ar-AATeZcY?li=BBwanrb"
                                    class="category">MSN
                                </a>
                                <h3 class="title"><a
                                        href="https://www.msn.com/pt-br/noticias/educacao/programas-oferecem-capacita%C3%A7%C3%A3o-gratuita-e-online-em-tecnologia/ar-AATeZcY?li=BBwanrb">Programas
                                        oferecem capacitação gratuita e online em tecnologia</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://tiinside.com.br/15/10/2021/ti-inside-talk-entrevista-carmela-borst-da-soul-code-academy/"
                                    class="image"><img src="assets/images/noticias/examenotica25.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://tiinside.com.br/15/10/2021/ti-inside-talk-entrevista-carmela-borst-da-soul-code-academy/"
                                    class="category">TI Inside (podcast Carmela)
                                </a>
                                <h3 class="title"><a
                                        href="https://tiinside.com.br/15/10/2021/ti-inside-talk-entrevista-carmela-borst-da-soul-code-academy/">
                                        TI INSIDE TALK entrevista Carmela Borst, da SoulCode Academy</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://itforum.com.br/noticias/brasil-estagna-no-ranking-de-competitividade-digital-como-melhorar/l"
                                    class="image"><img src="assets/images/noticias/examenotica26.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://itforum.com.br/noticias/brasil-estagna-no-ranking-de-competitividade-digital-como-melhorar/"
                                    class="category">IT Forum (Fabricio)
                                </a>
                                <h3 class="title"><a
                                        href="https://itforum.com.br/noticias/brasil-estagna-no-ranking-de-competitividade-digital-como-melhorar/">Brasil
                                        estagna no ranking de competitividade digital. Como melhorar?</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="blog">
                            <div class="thumbnail">
                                <a href="https://tiinside.com.br/21/01/2022/raizen-investe-em-talentos-na-area-de-tecnologia-com-diversidade-e-inclusao/l"
                                    class="image"><img src="assets/images/noticias/examenotica19.png"
                                        alt="Blog Image"></a>
                            </div>
                            <div class="info">
                                <a href="https://tiinside.com.br/21/01/2022/raizen-investe-em-talentos-na-area-de-tecnologia-com-diversidade-e-inclusao/"
                                    class="category">TI Inside
                                </a>
                                <h3 class="title"><a
                                        href="https://tiinside.com.br/21/01/2022/raizen-investe-em-talentos-na-area-de-tecnologia-com-diversidade-e-inclusao/">Raízen
                                        investe em talentos na área de tecnologia com diversidade e inclusão</a></h3>
                                <ul class="meta">
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Blog End -->



                </div>
                <!-- Blog Wrapper End -->

            </div>
        </div>
        <!-- Blog Section End -->