 <!-- Page Title Section Start -->
 <div class="page-title-section section">
    <div class="page-title">
        <div class="container">
            <h1 class="title">Termos de Uso</h1>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="current">Termos de Uso</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Terms of Service Section Start -->
<div class="section section-padding-bottom">
    <div class="container">
        <div class="row max-mb-n50">

            <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                <!-- Terms of Service Wrapper Start -->
                <div class="terms-of-service-wrapper">
                    <!-- <div class="image">
                        <img src="assets/images/purchase-guide/terms-of-service.jpg" alt="purchase guide">
                    </div> -->
                    <div class="content">

                        <!-- <h3 class="title">Our website</h3> -->

                        <p>Os presentes Termos e Condições Gerais de Uso (“Termos” ou “Termos de Uso”)
                            regulamentam a utilização do portal da <strong><strong>SOUL CODE</strong> ACADEMY
                                (“<strong>SOUL CODE</strong>”)</strong>, disponível em www.soulcodeacademy.org,
                            e/ou qualquer outro URL de propriedade da <strong>SOUL CODE</strong> (“Portal”), aos
                            seus usuários (“Usuário” ou “Usuários”). </p>

                        <h3 class="title">FINALIDADE DO PORTAL</h3>
                        <ol>
                            <li>A <strong>SOUL CODE</strong> é uma edtech brasileira que tem como missão gerar
                                impacto social e inclusão digital por meio de capacitação tecnológica, em
                                formato online e utilizando-se de metodologia própria (“Serviços”). A
                                <strong>SOUL CODE</strong> utiliza o Portal como forma de divulgação e
                                apresentação de todas as informações necessárias sobre seus Serviços e Cursos,
                                bem como para possibilitar aos Usuários acesso aos Cursos de seu interesse.
                            </li>
                            <li>Para participar nos cursos oferecidos pela <strong>SOUL CODE</strong>
                                (“Cursos”), o Usuário deverá preencher corretamente as informações e dados que
                                lhe forem solicitados em formulários para cadastro e inscrição, bem como
                                concordar as disposições do presente Termo e da Política de Privacidade
                                correlata. O preenchimento e envio das informações e dados à <strong>SOUL
                                    CODE</strong> pressupõe total ciência e concordância por parte do Usuário
                                aos mencionados instrumentos. </li>
                            <li>Ao realizar seu cadastro e inscrição no Portal, o Usuário, desde já,
                                manifesta-se ciente e de acordo que a <strong>SOUL CODE</strong> poderá
                                contatá-lo por meios físicos ou digitais (e-mail, telefone, SMS ou, ainda,
                                Whatsapp), para lhe fornecer informações sobre os Serviços e Cursos. Caso o
                                Usuário não tenha mais interesse em receber comunicações da <strong>SOUL
                                    CODE</strong>, ou, ainda, caso queira atualizar ou corrigir suas informações
                                e dados, deverá previamente acionar a <strong>SOUL CODE</strong> nos canais
                                disponíveis. </li>
                        </ol>
                        <br>
                        <h3 class="title">CURSOS OFERECIDOS </h3>
                        <ol>
                            <li>As informações específicas de cada Curso oferecido pela <strong>SOUL
                                    CODE</strong> estão disponíveis no Portal. Cada Curso possui suas próprias
                                condições, informações e cronogramas. É de exclusiva responsabilidade do Usuário
                                conferir as condições do Curso de seu interesse antes de realizar quaisquer
                                cadastros ou inscrições e, quando necessário, acionar a <strong>SOUL
                                    CODE</strong> em casos de dúvidas nos canais disponíveis. A <strong>SOUL
                                    CODE</strong> não se responsabiliza pela impossibilidade de participação do
                                Usuário nos Cursos em razão do não cumprimento de eventuais condições de
                                participação.</li>
                            <li>Para participar nos cursos oferecidos pela <strong>SOUL CODE</strong>
                                (“Cursos”), o Usuário deverá preencher corretamente as informações e dados que
                                lhe forem solicitados em formulários para cadastro e inscrição, bem como
                                concordar as disposições do presente Termo e da Política de Privacidade
                                correlata. O preenchimento e envio das informações e dados à <strong>SOUL
                                    CODE</strong> pressupõe total ciência e concordância por parte do Usuário
                                aos mencionados instrumentos. </li>
                            <li>Especificamente com relação aos bootcamps digitais oferecidos pela <strong>SOUL
                                    CODE</strong>, estes possuem como foco a promoção de auxílio à
                                empregabilidade de seus participantes. Nesse sentido, a <strong>SOUL
                                    CODE</strong> promoverá uma intermediação entre o participante e empresa(s)
                                interessada(s) em contratar profissionais capacitados. Outros Cursos promovidos
                                pela <strong>SOUL CODE</strong> possuem finalidade exclusiva de capacitação,
                                conforme seus respectivos cronogramas, não havendo, por parte da <strong>SOUL
                                    CODE</strong>, qualquer obrigação de auxílio à empregabilidade.</li>
                            <li>Como condição para participação dos cursos, a <strong>SOUL CODE</strong> poderá,
                                a seu exclusivo critério, exigir prévia aprovação em processo seletivo,
                                especialmente considerando a limitação de vagas, bem como solicitar ao
                                interessado que celebre um contrato de prestação de serviços junto à
                                <strong>SOUL CODE</strong>, para delimitação dos direitos e obrigações
                                envolvidos. Caso exigido pela <strong>SOUL CODE</strong>, a mera aprovação em
                                processo seletivo não possibilitará o acesso ao curso e/ou aos Serviços sem a
                                assinatura de contrato.
                            </li>
                            <li>Relativamente às bolsas de estudos concedidas pela <strong>SOUL CODE</strong>
                                para possibilitar acessibilidade aos Cursos, o Usuário manifesta-se ciente de
                                que sua manutenção dependerá do cumprimento de determinadas regras. Não havendo
                                cumprimento das regras para manutenção da bolsa de estudos eventualmente
                                concedida ao Usuário, este poderá precisar restituir seu valor à <strong>SOUL
                                    CODE</strong>. Havendo a concessão de bolsas de estudos, as regras relativas
                                estarão dispostas nos instrumentos pertinentes. Desde já, mantem-se claro que a
                                <strong>SOUL CODE</strong> não possui qualquer obrigatoriedade em fornecer
                                bolsas de estudos em seus Cursos.
                            </li>
                            <li>A <strong>SOUL CODE</strong> se reserva ao direito de cancelar o oferecimento e
                                realização de quaisquer Cursos, a seu exclusivo critério, caso não haja quórum
                                suficiente e/ou não possa ser ofertado devidamente, por qualquer motivo, sem que
                                isso enseje qualquer responsabilização, de qualquer natureza. </li>
                            <li>A <strong>SOUL CODE</strong> não possui a obrigação de fornecer quaisquer
                                equipamentos, softwares, internet e programas de qualquer natureza ao Usuário.
                            </li>
                        </ol>
                        <br>
                        <h3 class="title">CONDIÇÕES DE USO DO PORTAL </h3>
                        <ol>
                            <li>Como condição de acesso aos Serviços, aos Cursos e ao Portal, o Usuário declara
                                que efetuou a leitura completa e diligente destes Termos e da Política de
                                Privacidade, estando plenamente ciente de seu conteúdo e cláusulas. </li>
                            <li>Acessando, registrando e utilizando o Portal de qualquer modo, incluindo, mas
                                não se limitando a, navegação, visualização, download, geração, recebimento e
                                transmissão de quaisquer dados e informações, o Usuário confere expressa
                                concordância com estes Termos.</li>
                            <li>O presente documento deve ser interpretado junto à Política de Privacidade, bem
                                como aos eventuais instrumentos firmados entre Usuário e <strong>SOUL
                                    CODE</strong>, em razão da prestação dos Serviços e/ou participação em
                                Cursos. </li>
                            <li>Estes Termos têm caráter vinculante e foram elaborados para possibilitar a
                                utilização do Portal. Se o Usuário não concorda com este instrumento, deverá
                                abster-se de utilizar o Portal, os Serviços e participar dos Cursos. </li>
                            <li>A utilização do Portal, dos Serviços e a participação nos Cursos pelo Usuário
                                deverá respeitar a legislação brasileira. Neste ato, o Usuário declara que não
                                atuará de forma ilegal, ilícita, fraudulenta e/ou imoral junto à <strong>SOUL
                                    CODE</strong> e quaisquer de seus funcionários, prepostos, associados,
                                alunos, fornecedores, parceiros e patrocinadores, podendo responder, civil e
                                criminalmente, por eventuais prejuízos que causar.</li>
                            <li>A qualquer tempo, a <strong>SOUL CODE</strong> se reserva ao direito de
                                atualizar ou alterar estes Termos. As alterações feitas serão comunicadas por
                                meio de avisos no próprio Portal e/ou quaisquer formas de comunicação que a
                                <strong>SOUL CODE</strong> entender pertinentes. Após a publicização das
                                alterações, o uso continuado dos Serviços ou do Portal e participação em Cursos
                                pelo Usuário representa expressa concordância com os ajustes realizados nos
                                Termos. Fica estabelecido que, caso o Usuário não concorde com as alterações
                                realizadas neste Termo, eventuais instrumentos celebrados junto à <strong>SOUL
                                    CODE</strong> poderão ser imediatamente encerrados, não tendo o Usuário mais
                                direito de acesso aos Serviços e ao Curso, nada mais sendo devido por esta
                                última.
                            </li>
                            <li>A qualquer momento, a <strong>SOUL CODE</strong> poderá realizar melhorais,
                                adaptações, alterações, adições e/ou supressões em seus Serviços, Cursos e no
                                Portal, a seu livre e exclusivo critério, independentemente de qualquer aviso
                                prévio ou anuência do Usuário.</li>
                            <li>O Usuário concorda e tem inequívoca ciência de que: a) o conteúdo
                                disponibilizado no Portal, nos Serviços e nos Cursos é para o seu uso pessoal e
                                não comercial; b) o acesso ao Portal, aos Serviços e ao respectivo Curso tem
                                natureza pessoal e intransferível; c) não possui direitos de cópia, reprodução
                                ou alteração de qualquer conteúdo de propriedade da <strong>SOUL CODE</strong>;
                                d) não poderá reproduzir, vender ou explorar qualquer parte do Portal, dos
                                Serviços e dos Cursos, devendo abster-se de utilizá-los indevidamente, de forma
                                não autorizada pela <strong>SOUL CODE</strong>, assumindo exclusivamente e
                                integralmente quaisquer danos e prejuízos que acarretar a esta;</li>
                            <li>A <strong>SOUL CODE</strong> tem o direito de, sem qualquer necessidade de
                                prévio aviso, suspender, bloquear e/ou excluir permanentemente o acesso e o
                                cadastro do Usuário ao Portal, aos Serviços e aos Cursos, nos casos em que
                                constatar: a) que o cadastro no Portal foi criado com informações enganosas,
                                inverídicas, incorretas ou incompletas, ou que impeçam o contato e/ou a correta
                                identificação do Usuário; b) que o cadastro realizado ou a utilização dos
                                Serviços e Cursos pelo Usuário viola, de algum modo, as regras dispostas nestes
                                Termos, na conexa Política de Privacidade e/ou fira a legislação brasileira; c)
                                se constatada qualquer atuação de má-fé, comissiva ou omissiva, culposa ou
                                dolosa do Usuário, frente ao Portal, aos Serviços e aos Cursos, ressalvada,
                                ainda, a possibilidade de responsabilização por eventuais perdas e danos. </li>
                            <li>O Usuário não possui autorização de uso da marca da <strong>SOUL CODE</strong>
                                e/ou de qualquer uma de suas empresas
                                parceiras/patrocinadoras/fornecedoras/fomentadoras, devendo abster-se de
                                utilizá-las sob qualquer pretexto sem a prévia e expressa autorização. Havendo
                                quaisquer usos indevidos e não autorizados, o Usuário poderá responder pelos
                                danos e prejuízos causados.</li>

                        </ol>
                        <br>
                        <h3 class="title">RESPONSABILIDADES DO USUÁRIO AO USAR O PORTAL</h3>
                        <ol>
                            <li>O Usuário deverá respeitar as cláusulas e condições previstas nestes Termos e de
                                outros eventuais instrumentos firmados junto à <strong>SOUL CODE</strong>, assim
                                como a legislação vigente e o direito de terceiros.</li>
                            <li>O Usuário deverá, ainda, responsabilizar-se, de forma integral e exclusiva,
                                pelos atos praticados pelos terceiros que eventualmente autorizar para acessar o
                                Portal, os Serviços e/ou Cursos, de forma indevida e não autorizada, com seus
                                dados pessoais.</li>
                            <li>O descumprimento de qualquer obrigação disposta neste Termo pelo Usuário
                                autoriza a <strong>SOUL CODE</strong> a, de imediato, independente de
                                comunicação prévia, bloquear ou suspender o acesso e uso de seus Portais,
                                Serviços e Cursos. </li>
                            <li>O Usuário concorda: a) em não usar o Portal, o conteúdo nele inserido, ou os
                                Serviços e Cursos para qualquer fim ilícito ou não autorizado; b) somente fazer
                                o upload de arquivos, dados ou outros materiais no Portal, ou relativos aos
                                Serviços, desde que aprovado pela <strong>SOUL CODE</strong>; c) não prejudicar
                                o funcionamento normal do Portal, dos Serviços e Cursos; d) não interferir no
                                uso e acesso do Portal, Serviços e Cursos; d) não publicar ou disseminar
                                materiais ou informações difamatórias, discriminatórias e/ou ilegais por meio
                                dos Serviços, Cursos ou do Portal. </li>
                            <li>Em se tratando de Usuário menor de idade, nos termos da legislação brasileira,
                                este deverá solicitar aos seus pais ou responsáveis legais para lerem
                                conjuntamente este Termo, a Política de Privacidade e outros eventuais
                                instrumentos existentes, devendo o Usuário menor de idade utilizar o Portal, os
                                Serviços e/ou participar de Cursos somente mediante prévia ciência e autorização
                                de seus pais ou responsáveis. A <strong>SOUL CODE</strong> não se responsabiliza
                                pela utilização/participação não autorizada por menores de idade.</li>

                        </ol>
                        <br>
                        <h3 class="title">ALTERAÇÕES NOS CURSOS, SERVIÇOS OU NO PORTAL</h3>
                        <ol>
                            <li>A <strong>SOUL CODE</strong> tem o direito de, a qualquer momento, a seu
                                exclusivo critério, independente de aviso prévio ao Usuário, alterar, suspender,
                                ajustar, impor limitações ou restrições, encerrar ou descontinuar qualquer
                                aspecto do Portal, dos Serviços e dos Cursos, sem que isso gere qualquer a)
                                responsabilidade, de qualquer natureza, à <strong>SOUL CODE</strong> ou b)
                                direito à reclamação, perdas e danos ou indenização pelo Usuário. </li>
                            <li>A <strong>SOUL CODE</strong> reserva-se o direito de, sem a necessidade de
                                notificação prévia ao Usuário, a seu exclusivo critério, alterar a forma de
                                oferta de seus Serviços em geral. Tais alterações poderão ser comunicadas para o
                                Usuário por meio de avisos na própria página do Portal. </li>
                        </ol>
                        <br>
                        <h3 class="title">PROPRIEDADE INTELECTUAL</h3>
                        <p>Todos os direitos de propriedade intelectual relacionados ao Portal, aos Serviços e
                            aos Cursos, tais como, mas não limitado a, marcas, nomes comerciais, logotipos,
                            textos, imagens, ilustrações, logotipos, softwares, comunicações, matérias
                            didáticos, tecnologias e outros conteúdos visuais, audiovisuais, escritos ou
                            sonoros, incluindo desenhos gráficos e códigos-fonte do Portal, são exclusivos da
                            <strong>SOUL CODE</strong>, não sendo conferido ao Usuário nenhuma licença ou
                            autorização sobre tais direitos, ficando expressamente proibida a cópia, reprodução,
                            download ou qualquer outro tipo de uso para fins comerciais ou não, sob pena de
                            responsabilização do Usuário nos termos da legislação vigente.
                        </p>

                        <br>
                        <h3 class="title">ISENÇÃO DE RESPONSABILIDADE</h3>
                        <ol>
                            <li>A <strong>SOUL CODE</strong> não se responsabiliza: a) por qualquer dificuldade
                                de acesso ou indisponibilidade, erros ou falhas do Portal, Serviços ou Cursos
                                que não tenha qualquer controle; b) por erros ou incongruências na transmissão
                                de dados ou pela qualidade/disponibilidade de sinal de Internet do Usuário, que
                                possam afetar o uso do Portal, dos Serviços ou Cursos; c) por eventuais danos ou
                                prejuízos em decorrência do acesso não autorizado por terceiros. </li>
                            <li>O Usuário está plenamente ciente de que a <strong>SOUL CODE</strong> recomenda o
                                uso de ferramentas e de tecnologias (software e/ou hardware) seguras e
                                atualizadas. O uso, pelo Usuário, de ferramentas e tecnologias desatualizadas,
                                não consideradas seguras, e, portanto, não indicadas pela <strong>SOUL
                                    CODE</strong>, se dará por conta e risco exclusivo do Usuário, eximindo-se
                                <strong>SOUL CODE</strong> de qualquer responsabilidade por eventuais danos
                                sofridos pelo Usuário.
                            </li>
                            <li>A <strong>SOUL CODE</strong> adota os melhores esforços e práticas para manter o
                                Portal, os Serviços e Cursos em pleno funcionamento. No entanto, especialmente
                                considerando o ambiente online, estão sujeitos a interrupções, falhas,
                                inconsistências e paradas ocasionais. A <strong>SOUL CODE</strong> não se
                                responsabiliza por prejuízos ou perdas que o Usuário possa sofrer em virtude de
                                tais interrupções, falhas, inconsistências ou paradas. Desde já, mantem-se claro
                                que a <strong>SOUL CODE</strong> não possui qualquer responsabilidade de
                                fornecer ao Usuário auxílio e assistência técnica de qualquer natureza.</li>
                        </ol>
                        <br>

                        <h3 class="title">DISPOSIÇÕES GERAIS </h3>
                        <ol>
                            <li>É de responsabilidade única e exclusiva do Usuário apresentar dados e
                                informações verídicas, corretas e completas nos formulários disponíveis no
                                Portal. A <strong>SOUL CODE</strong> não se responsabiliza por eventuais
                                inscrições e cadastros que não atendam tais especificações. </li>
                            <li>Quaisquer acessos aos Serviços e aos Cursos são personalíssimos, de forma que o
                                Usuário não poderá compartilhar seus acessos, login e senha bem como quaisquer
                                conteúdos, materiais e informações que tenha acesso em razão da relação
                                estabelecida com a <strong>SOUL CODE</strong> com terceiros não autorizados.
                            </li>
                            <li>O descumprimento das disposições deste Termo pelo Usuário poderá acarretar o
                                imediato cancelamento de seu cadastro e interrupção de seus acessos aos Serviços
                                e Cursos, a exclusivo critério da <strong>SOUL CODE</strong>. </li>
                            <li>Em razão da própria natureza do ambiente de internet, sistemas, portais,
                                programas e softwares, apesar dos melhores esforços da <strong>SOUL
                                    CODE</strong>, o Portal e seus respectivos conteúdos e acessos não são
                                integralmente livres de vulnerabilidades. Assim, o Usuário manifesta-se ciente e
                                de acordo que a <strong>SOUL CODE</strong> não garante que o Portal e seus
                                conteúdos e acessos sejam livres de erros e falhas, não recaindo a si quaisquer
                                responsabilidades, de qualquer natureza, em tais ocorrências. O uso do Portal
                                pelo Usuário é feito por seu próprio risco.</li>
                            <li>O Usuário, ao estabelecer relação com a <strong>SOUL CODE</strong>, inclusive
                                pelo envio de formulários e participação em processos seletivos, autoriza à
                                <strong>SOUL CODE</strong>, de forma gratuita, a utilizar seu nome, imagem e som
                                de voz (“Imagem”), seja para devidamente conduzir os processos internos de
                                admissão aos Serviços e Cursos, bem como para utilização em materiais
                                institucionais e publicitários, físicos ou digitais. O Usuário manifesta-se
                                ciente de que a <strong>SOUL CODE</strong> não será responsabilizada pela
                                utilização indevida de sua Imagem por terceiros.
                            </li>
                            <li>Caso o Usuário atue de forma a causar quaisquer prejuízos à <strong>SOUL
                                    CODE</strong>, esta poderá tomar as medidas administrativas ou judiciais
                                cabíveis. </li>
                            <li>Os presentes de Termos de Uso, juntamente com a Política de Privacidade e
                                eventuais outros instrumentos firmados entre <strong>SOUL CODE</strong> e
                                Usuário, representam o acordo integral entre estes. </li>
                            <li>Este instrumento e todas as relações dele concernentes são submetidas às leis da
                                República Federativa do Brasil. </li>
                            <li>Caso qualquer uma das cláusulas deste instrumento venha a ser declarada nula, as
                                demais cláusulas continuarão em pleno vigor e efeito.</li>
                            <li>A tolerância de uma das partes para com a outra quanto ao não cumprimento de
                                qualquer uma das obrigações elencadas nestes Termos e nos instrumentos
                                correlatos não importará em novação ou em renúncia a qualquer desses direitos,
                                podendo a parte tolerante exercê-los a qualquer momento durante a vigência deste
                                Instrumento. </li>
                            <li>Em caso de dúvidas, solicitações, comentários ou sugestões, o Usuário poderá
                                entrar em contato com a <strong>SOUL CODE</strong> por meio do e-mail
                                contato@soulcodeacademy.org.</li>
                        </ol>
                        <!-- <h4>Basic terms</h4>

                        <p>These Terms of Service for MaxCoach Online Course Educational Center constitute a binding contract between you (“Member” or “Customer” or “You”) and ThemeMove company, a corporation registered in California, USA (“Company”), regarding the terms under which the Company will provide You with access to online courses (or parts thereof) purchased by You.</p>

                        <h4>Rights & restrictions</h4>

                        <ol>
                            <li>Members must be at least 18 years of age.</li>
                            <li>Members are granted a time-limited, non-exclusive, revocable, nontransferable, and non-sublicenseable right to access that portion of the online course corresponding to the purchase.</li>
                            <li>The portion of the online course corresponding to the purchase will be available to the Member as long as the course is maintained by the Company, which will be a minimum of one year after Member’ purchase.</li>
                            <li>The videos in the course are provided as a video stream and are not downloadable.</li>
                            <li>By agreeing to grant such access, the Company does not obligate itself to maintain the course, or to maintain it in its present form.</li>
                        </ol> -->
                    </div>
                </div>
                <!-- Terms of Service Wrapper End -->
            </div>

            <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
                <div class="sidebar-widget-wrapper">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-content">
                            <ul class="sidebar-widget-menu">
                                <li><a href="faq">FAQ - Perguntas Frequentes</a></li>
                                <li><a href="politica-privacidade">Politica de Privacidade</a></li>
                                <li><a class="active">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="sidebar-widget">
                        <h3 class="sidebar-widget-title">Recent Courses</h3>
                        <div class="sidebar-widget-content">
                            <ul class="sidebar-widget-course">
                                <li class="widget-course">
                                    <div class="thumbnail">
                                        <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-1.jpg" alt="Course Image"></a>
                                    </div>
                                    <div class="info">
                                        <span class="price">$40<span>.00</span></span>
                                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Learning to Write as a Professional Author</a></h6>
                                    </div>
                                </li>
                                <li class="widget-course">
                                    <div class="thumbnail">
                                        <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-2.jpg" alt="Course Image"></a>
                                    </div>
                                    <div class="info">
                                        <span class="price">Free</span>
                                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Customer-centric Info-Tech Strategies</a></h6>
                                    </div>
                                </li>
                                <li class="widget-course">
                                    <div class="thumbnail">
                                        <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-3.jpg" alt="Course Image"></a>
                                    </div>
                                    <div class="info">
                                        <span class="price">$19<span>.00</span></span>
                                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Open Programming Courses for Everyone: Python</a></h6>
                                    </div>
                                </li>
                                <li class="widget-course">
                                    <div class="thumbnail">
                                        <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-4.jpg" alt="Course Image"></a>
                                    </div>
                                    <div class="info">
                                        <span class="price">$26<span>.00</span></span>
                                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Academic Listening and Note-taking</a></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Terms of Service Section End -->