    <div class="section section-padding-bottom-80 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="single-product-content">
                        <h1 id="labelNome" class="text-left pb-5">Ola!</h1>
                        <h3 class="title pb-4">OBRIGADO PELO SEU INTERESSE EM NOSSOS BOOTCAMPS</h3>
                        <div class="product-description">
                            <p>A SoulCode Academy é uma edtech brasileira que tem como propósito a educação
                                tecnológica, inclusão digital, impacto social, diversidade e empregabilidade.</p>
                            <p>Para se preparar para essa jornada, queremos te conhecer melhor nas redes sociais!
                                Siga nossas páginas no LinkedIn (SoulCode Academy), Facebook (SoulCode Academy),
                                Instagram (@SoulCodeAcademy) e Twitter (@SoulCodeAcademy).</p>
                            <p>Aguarde receber o e-mail de confirmação da inscrição para acessar nossa plataforma e
                                iniciar seus
                                testes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>