
<div class="footer-section section">
  <div class="container">
      <!-- Footer Top Widgets Start -->
      <div class="row">
          <!-- Footer Widget Start -->
          <div class="col-xl-6 col-md-5 col-12">
              <div class="footer-widget light-color">
                  <h4 class="footer-widget-title">Endereço</h4>
                  <div class="footer-widget-content">
                      <div class="content">
                          <p>Alameda Santos, 1165, 11ª andar</p>
                          <p>Jardim Paulista - São Paulo/SP - CEP: 01419-002</p>
                          <p>+55 (11) 4810-3644</p>
                          <p><a href="#">atendimento@soulcodeacademy.org </a></p>
                      </div>
                      <div class="footer-social-inline">
                          <a href="https://www.facebook.com/SoulCodeAcademy" target="_blank"><i
                                  class="fab fa-facebook-square"></i></a>
                          <a href="https://twitter.com/SoulCodeAcademy" target="_blank"><i
                                  class="fab fa-twitter"></i></a>
                          <a href="https://www.instagram.com/soulcodeacademy/" target="_blank"><i
                                  class="fab fa-instagram"></i></a>
                          <a href="https://www.linkedin.com/company/soulcodebrasil/" target="_blank"><i
                                  class="fab fa-linkedin"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer Widget End -->

          <!-- Footer Widget Start -->
          <div class="col-xl-3 col-md-4 col-sm-7 col-12">
              <div class="footer-widget light-color">
                  <h4 class="footer-widget-title">Páginas</h4>
                  <div class="footer-widget-content">
                      <ul class="column-2">
                          <li><a href="bootcamp">Bootcamps</a></li>

                          <li><a href="empresas">Para Empresas</a></li>
                          <li><a href="online">Online</a></li>
                          <li><a href="imprensa">Imprensa</a></li>
                          <li><a href="sobre-nos">Sobre nós</a></li>
                          <li><a href="martech-academy">Martech Academy</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Footer Widget End -->

          <!-- Footer Widget Start -->
          <div class="col-xl-3 col-md-3 col-sm-5 col-12">
              <div class="footer-widget light-color">
                  <h4 class="footer-widget-title">Informações</h4>
                  <div class="footer-widget-content">
                      <ul>
                          <li><a href="faq">FAQ</a></li>
                          <li><a href="politica-privacidade">Politica de Privacidade</a></li>
                          <li><a href="termos-de-uso">Termos de Uso</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Footer Widget End -->

      </div>
      <!-- Footer Top Widgets End -->
  </div>
</div>



