.form-control {
  min-height: 40px;
  padding: 0px 5px;
  font-size: 14px;
}

label {
  width: 230px;
}

.btn-green {
  color: white;
  background-color: #3a7e69;
}

#example-header-image {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
