<div class="section bg-light py-5">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="title">Nosso Propósito</h2>
            <span class="sub-title">A SoulCode Academy é uma edtech brasileira que tem como propósito a educação tecnológica, inclusão digital, impacto social, diversidade e empregabilidade.</span>
        </div>
        <!-- Section Title End -->



    </div>
</div>

<!-- About Section Start -->
<div class="about-section section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                <div class="about-content mt-sm-50 mt-xs-50">
                    <span class="sub-title">CONHEÇA A <strong>SOULCODE ACADEMY</strong></span>
                    <h2 class="title">Manifesto SoulCode Academy <br><span></span></h2>
                    <p>Tech For Good, ou seja, Tecnologia Para o Bem. Esta é a base onde construímos uma
                        escola inclusiva que educa e capacita, gerando emprego para todos, no início ou no
                        decorrer de suas carreiras em tecnologia. Prezamos pelo bem-estar e pelo equilíbrio
                        entre a vida pessoal e profissional de nossos alunos. <span class="fw-bold">Assim
                            fazemos do nosso negócio um verdadeiro agente de transformação social.</span>
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 order-lg-1 order-1">
                <div class="about-image">
                    <div class="about-image-one">
                        <img src="assets/images/about/about_logo.png" alt="about01">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- About Video Section Start -->
<div class="about-video-section section section-padding-bottom">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <!-- About Me Video Wrapper Start -->
                <div class="about-me-video-wrapper about-us-one-video pr-55 pr-sm-0 pr-xs-0">

                    <!-- About Me Video Start -->
                    <div class="about-me-video video-popup"
                        data-aos="fade-up">
                        <img class="image" src="assets/images/video/about-video.jpg" alt="">
                </div>
                    <!-- About Me Video End -->
           
                </div>
                <!-- About Me Video Wrapper End -->
            </div>

            <div class="col-lg-4">
                <div class="about-content mt-sm-50 mt-xs-50">
                    <span class="sub-title"></span>
                    <h2 class="title">Tech For Good <span>Educação, Diversidade, Saúde, Longevidade e
                            Sustentabilidade</span> </h2>
                    <p>Aqui estão os 5 pilares da Tecnologia Para o Bem. </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- About Video Section End -->

<!-- Testimonial Section Start -->
<div class="testimonial-section section py-5" style="background-color: #f5f5f5;">
    <div
        class="container-fluid pl-80 pl-lg-15 pl-md-15 pl-sm-15 pl-xs-15 pr-80 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
        <!-- Section Title Start -->
        <div class="section-title text-center" data-aos="fade-up">
            <h2 class="title fz-48">Nossos Fundadores</h2>
            <span class="sub-title">Conheça quem ajuda a transformar este sonho em realidade</span>
        </div>
        <!-- Section Title End -->

        <!--Testimonial Slider Start -->
        <div class="testimonial-slider-two swiper-container" data-aos="fade-up">
            <swiper
            [config]="config"
            >
            <ng-template swiperSlide>
                <div class="testimonial-two testimonial-three">
                    <div class="content">
                        <h4 class="title" style="margin-bottom:0px">Carmela Borst
                        </h4>
                        <p>CEO</p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <span class="position">É especialista em Marketing, tecnologia e Impacto
                                Social,
                                foi Vice Presidente da Oracle para América Latina, é formada pela FEI em
                                Administração de Empresas e também estudou na ESPM e Stanford. Tem como
                                causa, educação para crianças e jovens, e empoderamento feminino, é
                                Conselheira das ONGs Gerando Falcões, Casa do Zezinho, Instituto Ser+,
                                Embaixadora do W20 no Brasil (grupo parte do G20) Fundadora da
                                comunidade
                                “Engage for Good” coletivo que reúne mais de 1000 executivos e
                                empresários
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="testimonial-two testimonial-three">
                    <div class="content">
                        <h4 class="title" style="margin-bottom:0px">Fabricio Cardoso
                        </h4>
                        <p>Diretor Geral</p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <span class="position">Especialista em Tecnologia e Transformação Digital .
                                Atuando em papeis de liderança como Mananging Director LATAM da
                                Israelense
                                Kenshoo, Sócio da EY, com foco em Transformação Digital. Antes de
                                ingressar
                                na EY, criou a empresa, InWave, focada em Tecnologia, Marketing Digital
                                e
                                e-Commerce. Essa empresa foi adquirida pela EY em junho de 2015. Também
                                foi
                                Diretor de Soluções de Negócio e Canais da Microsoft, Diretor de CRM e
                                Diretor de Consultoria da Oracle do Brasil</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="testimonial-two testimonial-three">
                    <div class="content">
                        <h4 class="title" style="margin-bottom:0px">Juana Pinkalsky
                        </h4>
                        <p>Diretora Acadêmica</p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <span class="position">
                                Mais de 20 anos em grandes empresas globais de tecnologia, tendo atuado
                                em
                                Educação, marketing e vendas. Foi responsável pelo programa Oracle
                                Academy
                                no Brasil. Responsável por programas de impacto social ao longo da sua
                                carreira, acredita que a tecnologia é o meio mais adequado para
                                transformar
                                o mundo .Juana é formada em Administração de Empresas e Direito, além de
                                ter
                                feito diversos cursos abrangendo temas como Inovação e Transformação
                                Digital.
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="testimonial-two testimonial-three">
                    <div class="content">
                        <h4 class="title" style="margin-bottom:0px">Silvio Genesini
                        </h4>
                        <p>Co-Founder e Conselheiro SoulCode Academy</p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <span class="position">
                                Silvio Genesini é conselheiro de empresas como Anima, brMalls, Cnova Nv,
                                Verzani & Sandrini e Claranet Technologies. É também investidor em
                                startups,
                                scaleups e empresas inovadoras. É conselheiro da ONG Gerando Falcões,
                                conselheiro emérito do Instituto Capitalismo Consciente, mentor da
                                Endeavor
                                e sócio da Beatt, empresa de transformação digital e cultural. Foi
                                presidente do Grupo Estado, que edita o Estadão; presidente da Oracle do
                                Brasil e sócio-diretor da Accenture. É engenheiro de produção da Escola
                                Politécnica da USP.
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
        <span class="swiper-pagination"></span>
            <!-- <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-two testimonial-three">
                        <div class="content">
                            <h4 class="title" style="margin-bottom:0px">Carmela Borst
                            </h4>
                            <p>CEO</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <span class="position">É especialista em Marketing, tecnologia e Impacto
                                    Social,
                                    foi Vice Presidente da Oracle para América Latina, é formada pela FEI em
                                    Administração de Empresas e também estudou na ESPM e Stanford. Tem como
                                    causa, educação para crianças e jovens, e empoderamento feminino, é
                                    Conselheira das ONGs Gerando Falcões, Casa do Zezinho, Instituto Ser+,
                                    Embaixadora do W20 no Brasil (grupo parte do G20) Fundadora da
                                    comunidade
                                    “Engage for Good” coletivo que reúne mais de 1000 executivos e
                                    empresários
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-two testimonial-three">
                        <div class="content">
                            <h4 class="title" style="margin-bottom:0px">Fabricio Cardoso
                            </h4>
                            <p>Diretor Geral</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <span class="position">Especialista em Tecnologia e Transformação Digital .
                                    Atuando em papeis de liderança como Mananging Director LATAM da
                                    Israelense
                                    Kenshoo, Sócio da EY, com foco em Transformação Digital. Antes de
                                    ingressar
                                    na EY, criou a empresa, InWave, focada em Tecnologia, Marketing Digital
                                    e
                                    e-Commerce. Essa empresa foi adquirida pela EY em junho de 2015. Também
                                    foi
                                    Diretor de Soluções de Negócio e Canais da Microsoft, Diretor de CRM e
                                    Diretor de Consultoria da Oracle do Brasil</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-two testimonial-three">
                        <div class="content">
                            <h4 class="title" style="margin-bottom:0px">Juana Pinkalsky
                            </h4>
                            <p>Diretora Acadêmica</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <span class="position">
                                    Mais de 20 anos em grandes empresas globais de tecnologia, tendo atuado
                                    em
                                    Educação, marketing e vendas. Foi responsável pelo programa Oracle
                                    Academy
                                    no Brasil. Responsável por programas de impacto social ao longo da sua
                                    carreira, acredita que a tecnologia é o meio mais adequado para
                                    transformar
                                    o mundo .Juana é formada em Administração de Empresas e Direito, além de
                                    ter
                                    feito diversos cursos abrangendo temas como Inovação e Transformação
                                    Digital.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-two testimonial-three">
                        <div class="content">
                            <h4 class="title" style="margin-bottom:0px">Silvio Genesini
                            </h4>
                            <p>Co-Founder e Conselheiro SoulCode Academy</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <span class="position">
                                    Silvio Genesini é conselheiro de empresas como Anima, brMalls, Cnova Nv,
                                    Verzani & Sandrini e Claranet Technologies. É também investidor em
                                    startups,
                                    scaleups e empresas inovadoras. É conselheiro da ONG Gerando Falcões,
                                    conselheiro emérito do Instituto Capitalismo Consciente, mentor da
                                    Endeavor
                                    e sócio da Beatt, empresa de transformação digital e cultural. Foi
                                    presidente do Grupo Estado, que edita o Estadão; presidente da Oracle do
                                    Brasil e sócio-diretor da Accenture. É engenheiro de produção da Escola
                                    Politécnica da USP.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--Testimonial Slider End -->
    </div>
</div>
<!-- Testimonial Section End -->

<!-- Team Section Start -->
<div class="team-section section section-padding-top section-padding-bottom ">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title text-center" data-aos="fade-up">
            <h2 class="title fz-48">Nosso Conselho Consultivo</h2>
        </div>
        <!-- Section Title End -->

        <section class="slick-conselho-executivo">
        <ngx-slick-carousel class=" carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig" >

            <div class="ht-team-member slide" ngxSlickItem *ngFor="let slide of slides">
                <div class="team-image">
                    <img class="img-fluid" [src]="slide.img" alt="">
                    <div class="social-networks">
                        <div class="inner">
                            <a target="_blank" href="JavaScript:Void(0);"
                                class=" hint--bounce  hint--top hint--theme-two"
                                aria-label="LinkedIn"><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-info text-center">
                    <h6 class="name"> {{ slide.name }} </h6>
                    <div class="position"> {{ slide.position }} </div>
                    
                </div>
            </div>
        </ngx-slick-carousel>
    </section>

    </div>
</div>

