   <!-- Page Title Section Start -->
   <div class="section py-5">
    <div class="page-title">
        <div class="container">
            <h1 class="title">Desenvolvedor Java Full Stack</h1>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Course Details Section Start -->
<div class="section max-mb-100">
    <div class="container">
        <div class="row max-mb-n50">

            <div class="col-lg-8 col-12 order-lg-1 max-mb-50">
                <!-- Course Details Wrapper Start -->
                <div class="course-details-wrapper">
                    <div class="course-nav-tab">
                        <ul class="nav">
                            <li><a class="active" data-bs-toggle="tab" href="#overview">Visão Geral</a></li>
                            <li><a data-bs-toggle="tab" href="#curriculum">Conteúdo do Curso</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane fade show active">
                            <div class="course-overview">
                                <h3 class="title">Sobre o curso</h3>

                                <p>Bootcamps Digitais são cursos online ao vivo, com o objetivo de capacitar os
                                    alunos a se tornarem Desenvolvedores JAVA FULL STACK criando a oportunidade
                                    de iniciar ou reciclar uma nova profissão no mercado de tecnologia.</p>

                                <p>Nossa metodologia tem uma abordagem que vai da formação ao emprego,
                                    capacitando os alunos na parte técnica, nas habilidades interpessoais e no
                                    direcionamento de carreira com ferramentas digitais mais usadas em grandes
                                    empresas globalmente.</p>

                                <!-- <div class="overview-course-video">
                                    <iframe title="Drive Digital Transformation With Platform Strategies | Info-Tech Analyst Perspective" src="https://www.youtube.com/embed/m-X1ExlQ9uE?feature=oembed"></iframe>
                                </div> -->



                                <h3 class="title">O que você irá aprender</h3>

                                <p>Profissionais Java Full Stack conseguem solucionar uma grande gama de
                                    problemas tecnológicos que vão da navegação do usuário até o sistema de
                                    backoffice, dados e suas integrações.</p>

                                <p>Profissionais com o perfil Full Stack são muito valorizados, não só pelo seu
                                    conhecimento técnico, mas também por facilitarem a comunicação entre as
                                    áreas que participam de um projeto, um intermediador, que agiliza as
                                    soluções</p>

                            </div>
                        </div>

                        <div id="curriculum" class="tab-pane fade">
                            <div class="course-curriculum">
                                <ul class="curriculum-sections">
                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 1: HTML5</h5>
                                                <p class="section-desc">General introduction to customer-centric
                                                    strategies</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Estrutura HTML, doctype e principais
                                                        tags</span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Elementos de texto e seus
                                                        atributos</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Elementos de imagens, links e
                                                        ancoras</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Listas, tabelas e formulários</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Elementos semânticos: session,
                                                        header, nav, article, aside e footer</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 2: CSS3</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Linguagem e sintaxe </span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Estilização Básica: fontes, cores,
                                                        margens, padding, bordas, sombras, background e
                                                        gradients
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Tipos de Layout: Flex, Flexbox, Grid
                                                        e Responsibidade
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Bootstrap: principais componentes e
                                                        classes
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 3: Javascript</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Variáveis e tipos primitivos:
                                                        números, strings, date e objects
                                                    </span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Condições if/else, operadores
                                                        lógicos e matemáticos

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Loops e estruturas de repetição
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Funções e parametros
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Funções anônimas e Arrow Functions
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Eventos e DOM
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 4: Angular (+Angular Material)</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">
                                                        Typescript
                                                    </span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Angular CLI


                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Componentes
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Data binding

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Diretivas NG

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Comunicação e ciclo de vida entre
                                                        componentes

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Services
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">RXJS Observables

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">HTTP requests

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Roteamento de URLs
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Angular Material

                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 5: Java</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Linguagem e Sintaxe
                                                    </span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Programação Orientada a Objetos
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Padrões de Projeto: Inversion Of
                                                        Control e Dependency Injection

                                                    </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Spring Data & Spring Data JPA</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Spring Boot (CRUD)</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Spring MVC </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Banco de dados MySQL </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">ORM & Hibernate </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Spring Security </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">REDIS Cache </span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Integração com Angular</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Projeto Final</h5>
                                                <p class="section-desc">Trabalho em grupo onde os alunos são
                                                    dividos em squads de trabalho</p>

                                            </div>
                                        </div>
                                        <div class="learn-press-message success ml-15 mr-15">
                                            <i class="fa"></i>Desenvolvimento de um projeto final, baseado em um
                                            desafio estabelecido pelos nossos parceiros contratantes, que tem
                                            por objetivo aplicar todos os ensinamentos do curso para resolver um
                                            problema de negócio real.
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Course Details Wrapper End -->
            </div>

            <div class="col-lg-4 col-12 order-lg-2 max-mb-50" id="sticky-sidebar">
                <div class="sidebar-widget-wrapper pr-0">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-content">
                            <div class="sidebar-entry-course-info">
                                <div class="course-price">
                                    <span class="meta-label">
                                        <i class="meta-icon far fa-money-bill-wave"></i>
                                        Custo
                                    </span>
                                    <span class="meta-value">
                                        <span class="price">Gratuito</span>
                                    </span>
                                </div>

                                <div class="course-meta">
                                    <div class="course-time">
                                        <span class="meta-label">
                                            <i class="far fa-calendar"></i>
                                            Prazo de Inscrição
                                        </span>
                                        <span class="meta-value">até 08/07/22</span>
                                    </div>
                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-rocket"></i> Início do Curso
                                        </span>
                                        <span class="meta-value">18/07/22</span>
                                    </div>
                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-calendar-alt"></i>
                                            Duração
                                        </span>
                                        <span class="meta-value">16 semanas</span>
                                    </div>
                                    <div class="course-lectures">
                                        <span class="meta-label">
                                            <i class="far fa-clock"></i>
                                            Horário de Aula
                                        </span>
                                        <span class="meta-value">8h às 18h</span>
                                    </div>

                                    <!-- <div class="course-students">
                                        <span class="meta-label">
                                            <i class="far fa-users"></i>
                                            Estudantes
                                        </span>
                                        <span class="meta-value">Máximo de 50</span>
                                    </div> -->

                                    <div class="course-instructor">
                                        <span class="meta-label">
                                            <i class="far fa-chalkboard-teacher"></i>
                                            Formato de Aula
                                        </span>
                                        <span class="meta-value">Online e ao vivo </span>
                                    </div>
                                    <div class="course-language">
                                        <span class="meta-label">
                                            <i class="far fa-language"></i>
                                            Idioma
                                        </span>
                                        <span class="meta-value">Português</span>
                                    </div>

                                </div>
                                <div class="lp-course-buttons">
                                    <a [routerLink]="['/inscricao-java-full-stack']"
                                        class="btn btn-primary btn-width-100">QUERO ME
                                        INSCREVER AGORA<i
                                            class="far fa-md fa-long-arrow-alt-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Course Details Section End -->