 
    <!-- Hero Start -->
    <div class="intro1-section section section-fluid" style="background-color: #0f637a;">
        <div class="container">
            <div class="row row-cols-md-2 row-cols-1 max-mb-n30">

                <!-- Intro One Content Start -->
                <div class="col align-self-center max-mb-30 mt-5" data-aos="fade-up">
                    <div class="intro1-content text-center text-md-start">
                        <span class="sub-title">Edtech SoulCode Academy</span>
                        <h2 class="title">Transformamos desempregados em profissionais de tecnologia
                        </h2>
                        <a href="bootcamp" class="btn btn-primary">INSCREVA-SE AGORA
                            <i class="far fa-long-arrow-right ms-3"></i></a>
                    </div>
                </div>
                <!-- Intro One Content End -->

                <!-- Intro One Course Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="intro1-course">
                        <img src="assets/images/about/about01/about1.jpg" alt="about01">
                        <!-- Course Start -->
                    </div>
                </div>
                <!-- Intro One Course End -->
            </div>
        </div>
    </div>
    <!-- Hero Section End -->

    <!-- Testimonial Section Start -->
    <div class="section section-padding bg-pattern fix">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title mb-2">Modelos Educacionais​</h2>
                <span class="sub-title">Escolha o melhor para você</span>
            </div>
            <!-- Section Title End -->

            <div class="row row-25 banner-content-area">
                <div class="col-lg-6 mb-3">
                    <div class="bootcamp-home h-100" data-bg-image="assets/images/home/bootcamp.png"
                        style="background-image: url(&quot;assets/images/home/bootcamp.png&quot;);">
                        <div class="col-lg-7 col-md-6">
                            <div class="text-white ms-4 mt-lg-5 mt-sm-4">
                                <h2 class="text-primary mt-3">Bootcamps</h2>
                                <p class="col-md-12 col-6">Capacitação profissional em 12 ou 16 semanas, 100%
                                    online, ao vivo e gratuito,
                                    para iniciar os estudos onde você estiver! </p>
                                <a class="btn btn-primary mt-lg-4 mb-5" href="bootcamp">CONHEÇA NOSSOS BOOTCAMPS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="bootcamp-home h-100" data-bg-image="assets/images/home/online.png"
                        style="background-image: url(&quot;assets/images/home/online.png&quot;);">
                        <div class="col-lg-6 col-md-6">
                            <div class="text-white ms-4 mt-lg-5 mt-sm-4">
                                <h2 class="text mt-3" style="color: #296483;">SoulCode Online</h2>
                                <p class="col-md-12 col-6">Acesso completo e ilimitado à nossa plataforma exclusiva
                                    de estudos, para você
                                    estudar quando e onde puder!</p>
                                <a class="btn btn mt-lg-4 mb-5" href="online"
                                    style="background-color: #008cb1;color: white;">ASSINE AGORA</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Courses Wrapper Start -->
            <div class="row row-cols-lg-2 row-cols-1 max-mb-n30">

            </div>
            <!-- Courses Wrapper End -->

        </div>
    </div>
    <!-- Testimonial Section End -->


    <!-- SoulCoders Section Start -->
    <div class="section section-padding-bottom d-none d-md-block">
        <div class="container">

            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title mb-2">SoulCoders</h2>
                <span class="sub-title">Que tal saber mais de quem já estudou aqui?</span>
            </div>

            <!-- Course Wrapper Start -->
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 max-mb-n30">
                <!-- Course Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="course-2">
                        <div class="thumbnail">
                            <a href="https://www.youtube.com/watch?v=xTWW0NxiECs"
                                class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                <img class="image" src="assets/images/alunos/talita.jpg" alt="">
                                <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                            </a>
                            <!-- <a href="course-details-sticky-feature-bar.html" class="image"><img
                                    src="assets/images/alunos/talita.jpg" alt="Course Image"></a> -->
                        </div>
                        <div class="info">
                            <h3 class="title"><a href="course-details-sticky-feature-bar.html">Talita Fernandes</a>
                            </h3>
                            <span class="date">WEB FULL STACK</span>
                        </div>
                    </div>
                </div>
                <!-- Course End -->

                <!-- Course Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="course-2">
                        <div class="thumbnail">
                            <a href="https://www.youtube.com/watch?v=rtK_pNy25Gg"
                                class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                <img class="image" src="assets/images/alunos/aruhan.jpg" alt="">
                                <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <!-- <span class="price">$59</span> -->
                            <h3 class="title"><a href="course-details-sticky-feature-bar.html">Aruhan Mathias</a>
                            </h3>
                            <span class="date">WEB FULL STACK</span>
                        </div>
                    </div>
                </div>
                <!-- Course End -->

                <!-- Course Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="course-2">
                        <div class="thumbnail">
                            <a href="https://www.youtube.com/watch?v=qRjsNN5tznE"
                                class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                <img class="image" src="assets/images/alunos/rafael.jpg" alt="">
                                <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <!-- <span class="price">$59</span> -->
                            <h3 class="title"><a href="course-details-sticky-feature-bar.html">Rafael Martins</a>
                            </h3>
                            <span class="date">ENGENHARIA DE DADOS</span>
                        </div>
                    </div>
                </div>
                <!-- Course End -->

                <!-- Course Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="course-2">
                        <div class="thumbnail">
                            <a href="https://www.youtube.com/watch?v=OAcGkqIrd6o"
                                class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                <img class="image" src="assets/images/alunos/marta.jpg" alt="">
                                <img class="icon" src="assets/images/icons/icon-youtube-play.png" alt="">
                            </a>
                        </div>
                        <div class="info">
                            <!-- <span class="price">$59</span> -->
                            <h3 class="title"><a href="course-details-sticky-feature-bar.html">Marta Pimentel</a>
                            </h3>
                            <span class="date">WEB FULL STACK</span>
                        </div>
                    </div>
                </div>
                <!-- Course End -->

            </div>
            <!-- Course Wrapper End -->
        </div>
    </div>
    <!-- SoulCoders Section End -->

    <!-- SoulCoders Testimonials Mobile Only Section Start -->
    <div class="section section-padding-bottom d-md-none d-sm-block">
        <div class="container">

            <div class="section-title text-center aos-init aos-animate mb-0" data-aos="fade-up">
                <h2 class="title mb-2">SoulCoders</h2>
                <span class="sub-title">Que tal saber mais de quem já estudou aqui?</span>
            </div>

            <!-- Course Wrapper Start -->
            <div class="row row-cols-1 max-mb-n30">
                <div id="sliderSoulCoders" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#sliderSoulCoders" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#sliderSoulCoders" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#sliderSoulCoders" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#sliderSoulCoders" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="course-2 ">
                                    <div class="thumbnail">
                                        <a href="https://www.youtube.com/watch?v=xTWW0NxiECs"
                                            class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                            <img class="image" src="assets/images/alunos/talita.jpg" alt="">
                                            <img class="icon" src="assets/images/icons/icon-youtube-play.png"
                                                alt="">
                                        </a>
                                        <!-- <a href="course-details-sticky-feature-bar.html" class="image"><img
                                            src="assets/images/alunos/talita.jpg" alt="Course Image"></a> -->
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <h3 class="title"><a href="course-details-sticky-feature-bar.html">Talita
                                                Fernandes</a>
                                        </h3>
                                        <span class="date">ENGENHARIA DE DADOS</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">

                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="course-2">
                                    <div class="thumbnail">
                                        <a href="https://www.youtube.com/watch?v=rtK_pNy25Gg"
                                            class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                            <img class="image" src="assets/images/alunos/aruhan.jpg" alt="">
                                            <img class="icon" src="assets/images/icons/icon-youtube-play.png"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <!-- <span class="price">$59</span> -->
                                        <h3 class="title"><a href="course-details-sticky-feature-bar.html">Aruhan
                                                Mathias</a>
                                        </h3>
                                        <span class="date">WEB FULL STACK</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">

                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="course-2">
                                    <div class="thumbnail">
                                        <a href="https://www.youtube.com/watch?v=qRjsNN5tznE"
                                            class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                            <img class="image" src="assets/images/alunos/rafael.jpg" alt="">
                                            <img class="icon" src="assets/images/icons/icon-youtube-play.png"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <!-- <span class="price">$59</span> -->
                                        <h3 class="title"><a href="course-details-sticky-feature-bar.html">Rafael
                                                Martins</a>
                                        </h3>
                                        <span class="date">ENGENHARIA DE DADOS</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">

                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="course-2">
                                    <div class="thumbnail">
                                        <a href="https://www.youtube.com/watch?v=OAcGkqIrd6o"
                                            class="about-me-video video-popup h6-intro-video" data-aos="fade-up">
                                            <img class="image" src="assets/images/alunos/marta.jpg" alt="">
                                            <img class="icon" src="assets/images/icons/icon-youtube-play.png"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <!-- <span class="price">$59</span> -->
                                        <h3 class="title"><a href="course-details-sticky-feature-bar.html">Marta
                                                Pimentel</a>
                                        </h3>
                                        <span class="date">WEB FULL STACK</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderSoulCoders"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderSoulCoders"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Course Wrapper End -->
        </div>
    </div>
    <!-- SoulCoders Testimonials Mobile Only Section End -->

    <!-- Testimonial Section Start -->
    <div class="section pt-3 pb-4">
        <div
            class="container-fluid pl-80 pl-lg-15 pl-md-15 pl-sm-15 pl-xs-15 pr-80 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
            <!--Testimonial Slider Start -->
            <div class="testimonial-slider-two swiper-container" data-aos="fade-up">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/tulani.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Tulani da Silva</h6>
                                        <span class="position">Coordenadora Service Desk na Raízen</span>
                                    </div>
                                </div>
                                <p>"Foi a melhor oportunidade não apenas de me inserir no mercado de trabalho mas
                                    também de ter uma vivência mais diversa, de exercitar a empatia, de mostrar a
                                    minha melhor versão."
                                </p>
                                <p class="fw-lighter fs-6">* Depoimento extraído do LinkedIn</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/camila.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Camila Chang Peres</h6>
                                        <span class="position">Software Engineer na PagBank</span>
                                    </div>
                                </div>
                                <p>“Obrigada a SoulCode Academy pelas oportunidades que tive até aqui, tanto em
                                    crescimento técnico, como pessoal, pelas amizades que levo comigo pra vida tanto
                                    pessoal como profissional.”
                                </p>
                                <span class="position fw-lighter">* Depoimento extraído do LinkedIn</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/rodolpho-almeida.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Rodolpho Almeida</h6>
                                        <span class="position">Engenheiro de Software Jr na UOL</span>
                                    </div>
                                </div>
                                <p>"Graças a vocês estou tendo a oportunidade mudar de carreira e entrar numa área
                                    que eu sempre tive afinidade e vontade de trabalhar, vocês estão tornando esse
                                    sonho realidade."
                                </p>
                                <span class="position fw-lighter">* Depoimento extraído do LinkedIn</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/feliegoncalves.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Felipe Gonçalves</h6>
                                        <span class="position">Analista de Negócios na Deloitte</span>
                                    </div>
                                </div>
                                <p>"Hoje com muita alegria no coração me formei nesse curso intensivo, que me fez
                                    dar
                                    o melhor de mim, me fez evoluir, uma trilha repleta de desafios. Hoje chego aqui
                                    e grito: EU VENCI. EU CONSEGUI."
                                </p>
                                <span class="position fw-lighter">* Depoimento extraído do LinkedIn</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/aruahn-mathias.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Aruhan Matias</h6>
                                        <span class="position">Desenvolvedor Front-End Jr. na IT Lean</span>
                                    </div>
                                </div>
                                <p>“Tive o prazer de fazer parte da primeira turma de Web Developer do Bootcamp da
                                    SoulCode Academy e hoje partilho do sentimento de superação.
                                    Foram dias difíceis de muitos desafios, muito aprendizado e felizmente tive
                                    pessoas incríveis ao meu lado que me incentivaram e me apoiaram nessa jornada.”
                                </p>
                                <span class="position fw-lighter">* Depoimento extraído do LinkedIn</span>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-two testimonial-three">
                            <div class="content">
                                <div class="author-info pb-4">
                                    <div class="image">
                                        <img src="assets/images/depoimentos/gustavo-antonelli.jpg" alt="">
                                    </div>
                                    <div class="cite">
                                        <h6 class="name">Gustavo Antonelli</h6>
                                        <span class="position">Analista de Sistemas Jr. na Raízen</span>
                                    </div>
                                </div>
                                <p>"Minha eterna gratidão a SoulCode Academy por todo apoio e por ter proporcionado
                                    4 meses de muito aprendizado, uma experiência que guardarei com muito carinho"
                                </p>
                                <span class="position fw-lighter">* Depoimento extraído do LinkedIn</span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!--Testimonial Slider End -->
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Blog Section Start -->
    <div class="blog-section section py-5" style="background-color: #f5f5f5;">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title">SoulCode na Mídia</h2>
                <span class="sub-title">Tem gente falando da gente por aí! Cofira:</span>
            </div>

            <!-- Blog Wrapper Start -->
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30 d-none d-md-flex">

                <!-- Blog Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="blog">
                        <div class="thumbnail">
                            <a href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/"
                                class="image"><img src="assets/images/noticias/mundorh.webp"
                                    alt="Blog Image"></a>
                        </div>
                        <div class="info">
                            <a href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/"
                                class="category">MUNDO RH</a>
                            <h3 class="title"><a
                                    href="https://www.mundorh.com.br/apagao-digital-e-escassez-de-profissionais-de-ti-de-um-lado-e-oportunidades-de-emprego-de-outro-como-resolver/">
                                    Apagão digital e escassez de profissionais de TI de um lado e oportunidades de emprego de outro. Como resolver?
                                </a>
                            </h3>
                            <ul class="meta">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Blog End -->

                <!-- Blog Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="blog">
                        <div class="thumbnail">
                            <a href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml"
                                class="image"><img src="assets/images/blog/370/blog-10.jpg"
                                    alt="Foto de capa da matéria do Valor Econômico"></a>
                        </div>
                        <div class="info">
                            <a href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml"
                                class="category">VALOR ECONÔMICO</a>
                            <h3 class="title">
                                <a
                                    href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml">
                                    Empresas financiam alunos fazendo seleções baseadas na diversidade.
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Blog End -->

                <!-- Blog Start -->
                <div class="col max-mb-30" data-aos="fade-up">
                    <div class="blog">
                        <div class="thumbnail">
                            <a href="https://globoplay.globo.com/v/10440894/" class="image"><img
                                    src="assets/images/blog/370/blog-11.jpg" alt="Aruhan no Mais Você"></a>
                        </div>
                        <div class="info">
                            <a href="https://globoplay.globo.com/v/10440894/" class="category">MAIS VOCÊ</a>
                            <h3 class="title">
                                <a href="https://globoplay.globo.com/v/10440894/">Cursos gratuitos ajudam na
                                    qualificação profissional de jovens brasileiros.
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Blog End -->



            </div>
            <!-- Blog Wrapper End -->

            <!-- Blog Wrapper Mobile Only Start -->
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30 d-sm-block d-md-none">
                <div id="sliderNoticias" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#sliderNoticias" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#sliderNoticias" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#sliderNoticias" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!-- Blog Start -->
                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="blog">
                                    <div class="thumbnail">
                                        <a href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml"
                                            class="image"><img src="assets/images/blog/370/blog-10.jpg"
                                                alt="Foto de capa da matéria do Valor Econômico"></a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <a href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml"
                                            class="category">VALOR ECONÔMICO</a>
                                        <h3 class="title text-center">
                                            <a
                                                href="https://valor.globo.com/empresas/noticia/2021/09/14/empresas-financiam-alunos-e-fazem-selecao-baseadas-em-diversidade.ghtml">
                                                Empresas financiam alunos fazendo seleções baseadas na
                                                diversidade.
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog End -->
                        </div>
                        <div class="carousel-item">
                            <!-- Blog Start -->
                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="blog">
                                    <div class="thumbnail">
                                        <a href="https://globoplay.globo.com/v/10440894/" class="image"><img
                                                src="assets/images/blog/370/blog-11.jpg"
                                                alt="Aruhan no Mais Você"></a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <a href="https://globoplay.globo.com/v/10440894/" class="category">MAIS
                                            VOCÊ</a>
                                        <h3 class="title text-center">
                                            <a href="https://globoplay.globo.com/v/10440894/">Cursos gratuitos
                                                ajudam na
                                                qualificação profissional de jovens brasileiros.
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog End -->
                        </div>
                        <div class="carousel-item">
                            <!-- Blog Start -->
                            <div class="col max-mb-30" data-aos="fade-up">
                                <div class="blog">
                                    <div class="thumbnail">
                                        <a href="https://globoplay.globo.com/v/10329742" class="image"><img
                                                src="assets/images/blog/370/blog-12.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="info d-flex flex-column justify-content-center align-items-center">
                                        <a href="https://globoplay.globo.com/v/10329742" class="category">SP1 -
                                            Jornal Hoje</a>
                                        <h3 class="title text-center"><a
                                                href="https://globoplay.globo.com/v/10329742">Estudo nas áreas de
                                                tecnologia e programação irá criar milhares de vagas até 2025.
                                            </a></h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog End -->
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderNoticias"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderNoticias"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Blog Wrapper Mobile Only End -->

            <div class="row max-mt-30">
                <div class="text-center col-lg-7 mx-auto">
                    <a class="link link-lg" href="imprensa">Quer saber mais sobre nós?
                        <mark>Confira outras notícias <i class="far fa-long-arrow-right"></i></mark></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Section End -->

    <div class="success-faq-section section section-padding-bottom">
        <div class="container">

            <div class="col-lg-12 ">
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
                            aria-label="Slide 9"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="carousel-caption d-md-block">
                                <h5>Parceiro Institucional</h5>
                            </div>
                            <section class="custom-slider slider" data-arrows="true">
                                <div class="custom-slide mt-4 mx-auto"><img src="assets/images/partners/22.png">
                                </div>
                            </section>

                        </div>
                        <div class="carousel-item " data-bs-interval="10000">
                            <div class="carousel-caption d-md-block">
                                <h5>Parceiros Contratação</h5>
                            </div>
                            <ngx-slick-carousel class="carousel" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig"
                                >
                                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                                    <img src="{{ slide.img }}" alt="" width="100%">
                                </div>
                            </ngx-slick-carousel>
                        
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block py-4">
                                <h5>Parceiros Tecnologicos</h5>
                            </div>
                            <section class="custom-slider slider ">
                                <div class="custom-slide"><img src="assets/images/partners/3.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/28.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>Parceiros Educacionais</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/2.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/23.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>Parceiros Educacionais</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/21.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>ONGs Parceiras</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/17.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/19.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>ONGs Parceiras</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/16.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/18.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>Apoiadores</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/1.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/26.png"></div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption d-md-block">
                                <h5>Apoiadores</h5>
                            </div>
                            <section class="custom-slider slider " data-arrows="true">
                                <div class="custom-slide"><img src="assets/images/partners/25.png"></div>
                                <div class="custom-slide"><img src="assets/images/partners/24.png"></div>
                            </section>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                

            </div>

           
        </div>
      
    </div>

