.modal-header, .modal-body, .modal-footer {
    background-color: #0f637a;
}
.modal-header {
    border: none;
}

.section-title .sub-title{
    text-transform: none !important;
}

.modal-title{
    margin-top: 5%;
    padding-left: 10px;
}

strong{
    color: #000;
}

.btn {
    height: 3rem;
}

.botao-cancelar {
    width: 47%;
}