
.botaoAdd {
    background-color: #ffd900;
    color: black;
    border: none;
    position: fixed;
    bottom: 130px;
}

.botaoAdd:hover {
    background-color: #dcbb00;
}

@media (min-width: 1200px) {
    .superWrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .btn {
        height: 4vh;
    }
}

@media (min-width: 2000px) {
    .botaoAdd {
        right: 400px;
    }
}

@media (min-width: 2400px) {
    .botaoAdd {
        right: 600px;
    }
}

@media (min-width: 2800px) {
    .botaoAdd {
        right: 800px;
    }
}

@media (min-width: 3100px) {
    .botaoAdd {
        right: 1000px;
    }
}


