 <!-- Page Title Section Start -->
 <div class="section py-5">
    <div class="page-title">
        <div class="container">
            <h1 class="title">Engenharia de Dados</h1>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Course Details Section Start -->
<div class="section">
    <div class="container">
        <div class="row max-mb-50">

            <div class="col-lg-7 col-12 order-lg-1 max-mb-50">
                <!-- Course Details Wrapper Start -->
                <div class="course-details-wrapper">
                    <div class="course-nav-tab">
                        <ul class="nav">
                            <li><a class="active" data-bs-toggle="tab" href="#overview">Visão Geral</a></li>
                            <li><a data-bs-toggle="tab" href="#curriculum">Currículo</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane fade show active">
                            <div class="course-overview">
                                <h1 class="title">Detalhes do curso</h1>

                                <p>Bootcamps Digitais são cursos online e ao vivo, com o objetivo de capacitar
                                    os alunos, criando a oportunidade de iniciar ou reciclar uma nova profissão
                                    no mercado de tecnologia. A SoulCode Academy, edtech brasileira com foco em
                                    impacto social e inclusão digital, anuncia a participação no programa de
                                    preparação para carreira de Engenharia de Dados. Este treinamento é ideal
                                    para alunos que desejam iniciar carreiras em funções de engenharia e
                                    gerenciamento relacionadas à infraestrutura em nuvem, desenvolvimento de
                                    aplicativos ligados à nuvem e engenharia de dados.</p>

                                <p>Nossa metodologia tem uma abordagem que vai da formação ao emprego,
                                    capacitando os alunos na parte técnica, nas habilidades interpessoais e no
                                    direcionamento de carreira com as ferramentas digitais mais utilizadas em
                                    grandes empresas globalmente.</p>

                                <!-- <div class="overview-course-video">
                                    <iframe title="Drive Digital Transformation With Platform Strategies | Info-Tech Analyst Perspective" src="https://www.youtube.com/embed/m-X1ExlQ9uE?feature=oembed"></iframe>
                                </div> -->



                                <h3 class="title">O que você irá aprender</h3>
                                <p>O currículo de Engenharia de Dados apresenta aos alunos a amplitude da
                                    tecnologia em nuvem com conceitos, laboratórios práticos, avaliações e um
                                    projeto fundamental sobre tópicos como infraestrutura em nuvem, big data
                                    (Data Lake e Data Warehouse), Processo e Modelagem de Dados em Cloud com a
                                    utilização do Hadoop e Spark e as bibliotecas Pandas e PySpark do Python.
                                </p>

                            </div>
                        </div>

                        <div id="curriculum" class="tab-pane fade">
                            <div class="course-curriculum">
                                <ul class="curriculum-sections">
                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 1: Cloud</h5>
                                                <p class="section-desc">General introduction to customer-centric
                                                    strategies</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Introdução a redes de
                                                        computadores</span>

                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Introdução a sistemas
                                                        operacionais</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Windows e Linux</span>
                                                </a>
                                            </li>

                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Ambientes OnPremisse x Cloud</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Gerencimaneto de Usuários</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Clusters</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Infraestrutura em Cloud</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Monitoramento em Nuvem</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">VPC</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Introdução ao Machine
                                                        Learning</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 2: Python</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Fundamentos de Python</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Tuplas, Listas e Dicionários</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Python Orientado a Objetos</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Funções e Módulos em Python</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Biblioteca Python para Data</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Jupyter</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Pandas</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">MapReduce</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">NumPy</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Pyshark</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 3: Data</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Banco de dados SQL</span>
                                                </a>

                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Linguagem SQL</span>
                                                </a>

                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">MER e Modelos Relacionais</span>
                                                </a>

                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Banco de dados NoSQL</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">SGBDs (Postgree, MongoDB,
                                                        Cassandra)</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Big Data</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Data Warehouse</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Data Lake</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Hadoop</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Spark</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Módulo 4: Ágil & Soft Skill</h5>
                                                <p class="section-desc">Learn about the basics of Customer
                                                    Advisory Board</p>

                                            </div>
                                        </div>
                                        <ul class="section-content">
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Metodologias Ágeis</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Boas práticas de programação</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Pró atividade</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Comunicação Assertiva</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Resiliência</span>
                                                </a>
                                            </li>
                                            <li class="course-item">
                                                <a class="section-item-link">
                                                    <span class="item-name">Gestão de Tempo</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="single-curriculum-section">
                                        <div class="section-header">
                                            <div class="section-left">

                                                <h5 class="title">Projeto Final</h5>
                                                <p class="section-desc">Trabalho em grupo onde os alunos são
                                                    dividos em squads de trabalho</p>

                                            </div>
                                        </div>
                                        <div class="learn-press-message success ml-15 mr-15">
                                            <i class="fa"></i>Desenvolvimento de um projeto final, baseado em um
                                            desafio estabelecido pelos nossos parceiros contratantes, que tem
                                            por objetivo aplicar todos os ensinamentos do curso para resolver um
                                            problema de negócio real.
                                        </div>
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Course Details Wrapper End -->
            </div>

            <div class="col-lg-5 col-12 order-lg-2 max-mb-50" id="sticky-sidebar">
                <div class="sidebar-widget-wrapper pr-0">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-content">
                            <div class="sidebar-entry-course-info">
                                <div class="course-price">
                                    <span class="meta-label">
                                        <i class="meta-icon far fa-money-bill-wave"></i>
                                        Custo
                                    </span>
                                    <span class="meta-value">
                                        <span class="price">Gratuito</span>
                                    </span>
                                </div>
                                <div class="course-meta">
                                    <div class="course-time">
                                        <span class="meta-label">
                                            <i class="far fa-calendar"></i>
                                            Prazo de Inscrição
                                        </span>
                                        <span class="meta-value">até 13/06/22</span>
                                    </div>
                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-rocket"></i> Início do Curso
                                        </span>
                                        <span class="meta-value">23/06/22</span>
                                    </div>

                                    <div class="course-duration">
                                        <span class="meta-label">
                                            <i class="far fa-calendar-alt"></i>
                                            Duração
                                        </span>
                                        <span class="meta-value">12 semanas</span>
                                    </div>

                                    <div class="course-lectures">
                                        <span class="meta-label">
                                            <i class="far fa-clock"></i>
                                            Horário de Aula
                                        </span>
                                        <span class="meta-value">8h às 18h</span>
                                    </div>
                                    <div class="course-instructor">
                                        <span class="meta-label">
                                            <i class="far fa-chalkboard-teacher"></i>
                                            Formato de Aula
                                        </span>
                                        <span class="meta-value">Online e ao vivo </span>
                                    </div>

                                    <div class="course-language">
                                        <span class="meta-label">
                                            <i class="far fa-language"></i>
                                            Idioma
                                        </span>
                                        <span class="meta-value">Português</span>
                                    </div>
                                </div>
                                <div class="lp-course-buttons">
                                    <a [routerLink]="['/inscricao-engenharia-de-dados']"
                                        class="btn btn-primary btn-width-100">QUERO ME
                                        INSCREVER AGORA<i
                                            class="far fa-md fa-long-arrow-alt-right ms-2"></i></a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Course Details Section End -->