<div class="superWrapper">
    <div class="container-fluid">
        <h2 class="titulo">Processos Seletivos</h2>
        <div *ngIf="processosAtivos.length > 0" class="row processosAbertos">
            <h4 class="subtitulo">Processos Ativos</h4>
            <div class="col d-flex justify-content-center px-1" *ngFor="let processo of processosAtivos">
                <div class="card mb-3 mt-3" style="width: 18rem;">
                    <div class="card-body d-flex flex-column flex-wrap justify-content-between text-white">
                        <div class="text-center">
                            <h5 class="card-title text-primary">{{processo.tipo}}</h5>
                            <h6 class="card-subtitle mb-2">{{processo.turma}}</h6>
                        </div>
                        <div>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-calendar-alt"></i>
                                Abertura das Inscrições: {{processo.inicioInscricoes | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-calendar-exclamation"></i>
                                Término das Inscrições: {{processo.terminoInscricoes | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-rocket"></i>
                                Início do Bootcamp: {{processo.inicioBootcamp | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 16px; display: block;">
                                <i class="far fa-traffic-light-stop"></i>
                                Status: <strong>{{processo.status}}</strong>
                            </span>
                        </div>
                        <div class="acoesWrapper">
                            <div>
                                <a routerLink="/admin/processos/{{processo.id}}"
                                    class="btn btn-info btn-sm botao-detalhes-process">Inscritos</a>
                                <div class="d-flex justify-content-between">
                                    <a (click)="openEdit(processo)"
                                        class="btn btn-primary btn-sm botao-editar-process">Editar</a>
                                    <a (click)="openCloseProcess(processo)"
                                        class="btn btn-danger btn-sm botao-apagar-process">Encerrar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="processosAguardandoInicio.length > 0" class="row processosAIniciar">
            <h4 class="subtitulo">Processos Aguardando Início</h4>
            <div class="col d-flex justify-content-center px-1" *ngFor="let processo of processosAguardandoInicio">
                <div class="card mb-3 mt-3" style="width: 18rem;">
                    <div class="card-body d-flex flex-column flex-wrap justify-content-between text-white">
                        <div class="text-center">
                            <h5 class="card-title text-primary">{{processo.tipo}}</h5>
                            <h6 class="card-subtitle mb-2">{{processo.turma}}</h6>
                        </div>
                        <div>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-calendar-alt"></i>
                                Abertura das Inscrições: {{processo.inicioInscricoes | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-calendar-exclamation"></i>
                                Término das Inscrições: {{processo.terminoInscricoes | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 14px; display: block;">
                                <i class="far fa-rocket"></i>
                                Início do Bootcamp: {{processo.inicioBootcamp | date: 'dd/MM/yyyy'}}
                            </span>
                            <span style="font-size: 16px; display: block;">
                                <i class="far fa-traffic-light-stop"></i>
                                Status: <strong>{{processo.status}}</strong>
                            </span>
                        </div>
                        <div class="acoesWrapper">
                            <div>
                                <a routerLink="/admin/processos/{{processo.id}}"
                                    class="btn btn-info btn-sm botao-detalhes-process">Inscritos</a>
                                <div class="d-flex justify-content-between">
                                    <a (click)="openEdit(processo)"
                                        class="btn btn-primary btn-sm botao-editar-process">Editar</a>
                                    <a (click)="openCloseProcess(processo)"
                                        class="btn btn-danger btn-sm botao-apagar-process">Encerrar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="spinner-border" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="fab-wrapper">
        <button (click)="openCreate()" class="scroll-top show botaoAdd"
            style="font-size: 28pt; padding-top: 3px;">+</button>
    </div>
</div>